<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhb_3k3MyKrCTlfkMomysi-8UaICBSnrw</string>
	<key>GCM_SENDER_ID</key>
	<string>323991545240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iOSTestApp</string>
	<key>PROJECT_ID</key>
	<string>firestore-sdk-nightly</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-sdk-nightly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323991545240:ios:5f550d7ae3ebb43a1cf7ed</string>
</dict>
</plist>