<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPOtsd7zCEEnc90uXunosAcu1-EKtWYYw</string>
	<key>GCM_SENDER_ID</key>
	<string>37794738117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.FirestoreSample</string>
	<key>PROJECT_ID</key>
	<string>markduckworth-firestore-tests</string>
	<key>STORAGE_BUCKET</key>
	<string>markduckworth-firestore-tests.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37794738117:ios:f1861da1590da1e46125ac</string>
</dict>
</plist>