ReleaseTooling/ @firebase/firebase-ios-sdk-admin
FirebaseCore/ @firebase/firebase-ios-sdk-admin
Package.swift @firebase/firebase-ios-sdk-admin
Dangerfile @firebase/firebase-ios-sdk-admin
**/Public @firebase/firebase-ios-sdk-admin
*.podspec @firebase/firebase-ios-sdk-admin
Gemfile* @firebase/firebase-ios-sdk-admin
Interop/ @firebase/firebase-ios-sdk-admin
scripts/ @firebase/firebase-ios-sdk-admin
.github/ @firebase/firebase-ios-sdk-admin
*.md @firebase/firebase-ios-sdk-admin
CHANGELOG.md # Exempt from above rule.
