BasedOnStyle: Google
ColumnLimit: 100
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
ObjCSpaceBeforeProtocolList: false
SpacesInContainerLiterals: true
PointerAlignment: Right
