BasedOnStyle: Google
ColumnLimit: 100
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
ObjCSpaceBeforeProtocolList: true
SpacesInContainerLiterals: true
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: None
IncludeBlocks: Preserve
