# Formatting Options - Mimic Google style
--indent 2
--maxwidth 100
--wrapparameters afterfirst

# Disabled Rules

# Too many of our swift files have simplistic examples. While technically
# it's correct to remove the unused argument labels, it makes our examples
# look wrong.
--disable unusedArguments

# We prefer trailing braces.
--disable wrapMultilineStatementBraces
