<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149208680807-rptlrmfh0002ltp2o7nequb7m1tbjfgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149208680807-rptlrmfh0002ltp2o7nequb7m1tbjfgt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>149208680807-35nkmll67ctf64f15faeeu1th7720jt5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5C3e4AZ-oQ45g5lh-38N9cIAiWbzJBvc</string>
	<key>GCM_SENDER_ID</key>
	<string>149208680807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.FIRPerfTestAppAutopush</string>
	<key>PROJECT_ID</key>
	<string>fir-perftestapp</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-perftestapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149208680807:ios:dc2e5753853e6bba</string>
	<key>DATABASE_URL</key>
	<string>https://fir-perftestapp.firebaseio.com</string>
</dict>
</plist>