<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCv50fLK1AMIvTX82h7kC5TJFYR1WcwYKE</string>
	<key>GCM_SENDER_ID</key>
	<string>26383967574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.FIRPerfTestApp</string>
	<key>PROJECT_ID</key>
	<string>visu-fireperfcodelab</string>
	<key>STORAGE_BUCKET</key>
	<string>visu-fireperfcodelab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26383967574:ios:3bc50cb93c08d0d78a22f7</string>
</dict>
</plist>