<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastCheckTime</key>
	<date>2016-02-28T18:33:31Z</date>
	<key>isPaidUser</key>
	<true/>
	<key>dataValue</key>
	<data>Mi40</data>
	<key>New item</key>
	<real>2.4</real>
	<key>Languages</key>
	<string>English</string>
	<key>FileInfo</key>
	<string>To setup default config.</string>
	<key>format</key>
	<string>key to value.</string>
</dict>
</plist>
