<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918832385217-ambj2r2r7snoe2sj7htgln77gltskvl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918832385217-ambj2r2r7snoe2sj7htgln77gltskvl6</string>
	<key>API_KEY</key>
	<string>AIzaSyB4oNkquzSAr2-Qpl45KIyHSK6XbcPDaxU</string>
	<key>GCM_SENDER_ID</key>
	<string>918832385217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.config.testapp.dev</string>
	<key>PROJECT_ID</key>
	<string>icysummit-b0263</string>
	<key>STORAGE_BUCKET</key>
	<string>icysummit-b0263.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918832385217:ios:f01ae874fcd59fb4</string>
	<key>DATABASE_URL</key>
	<string>https://icysummit-b0263.firebaseio.com</string>
</dict>
</plist>