<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1Ka9Hbo8nWtzpqPA8IH-9t3KLY7ywHFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>622201756822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>realtime</string>
	<key>PROJECT_ID</key>
	<string>rctest-7676d</string>
	<key>STORAGE_BUCKET</key>
	<string>rctest-7676d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622201756822:ios:c624fb3c1f56a5b509f6b7</string>
</dict>
</plist>