<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FPRScreenTraces</key>
	<false/>
	<key>FPRDelegateSwizzling</key>
	<true/>
	<key>FPRNSURLConnection</key>
	<true/>
	<key>FPRScreenTracesSwizzling</key>
	<true/>
	<key>FPRWhitelistedDomains</key>
	<array>
		<string>google.com</string>
		<string>googleapis.com</string>
		<string>app-measurement.com</string>
	</array>
</dict>
</plist>
