<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656090221777-glififklvhbr20qumojgt82v28nrlhgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656090221777-glififklvhbr20qumojgt82v28nrlhgj</string>
	<key>API_KEY</key>
	<string>AIzaSyA2hwDYE23H_Wp5FWUAsnE2ecMZXb8Q7WM</string>
	<key>GCM_SENDER_ID</key>
	<string>656090221777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.watch.crashtest</string>
	<key>PROJECT_ID</key>
	<string>onboardingbash</string>
	<key>STORAGE_BUCKET</key>
	<string>onboardingbash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656090221777:ios:41f72c3e864028b485c9f0</string>
	<key>DATABASE_URL</key>
	<string>https://onboardingbash.firebaseio.com</string>
</dict>
</plist>