// Copyright 2026 Google LLC
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

import Foundation

extension {{ namespace }} {
  {%- if description %}
  /// {{ description | replace('\n', '\n  /// ') }}
  {%- endif %}
  {%- if is_deprecated %}
  @available(*, deprecated)
  {%- endif %}
  {{ access_level }} enum {{ name }}: Codable, Sendable, Equatable, Hashable {
    {%- for case in cases %}
    {%- if case.description %}
    /// {{ case.description | replace('\n', '\n    /// ') }}
    {%- endif %}
    {%- if case.is_deprecated %}
    @available(*, deprecated)
    {%- endif %}
    case {{ case.swift_name }}
    {% endfor %}
    /// Unrecognized case.
    ///
    /// - Parameter value: The raw string value of the unrecognized enum case.
    case unrecognized(_ value: String)
  }
}

// MARK: - RawRepresentable Conformance

extension {{ namespace }}.{{ name }}: RawRepresentable {
  {{ access_level }} var rawValue: String {
    switch self {
    {%- for case in cases %}
    case .{{ case.swift_name }}: "{{ case.raw_value }}"
    {%- endfor %}
    case .unrecognized(let value): value
    }
  }

  {{ access_level }} init(rawValue: String) {
    switch rawValue {
    {%- for case in cases %}
    case "{{ case.raw_value }}": self = .{{ case.swift_name }}
    {%- endfor %}
    default: self = .unrecognized(rawValue)
    }
  }
}
