{
  "openapi": "3.0.3",
  "info": {
    "title": "Firebase AI Logic API",
    "description": "The Firebase AI Logic API provides programmatic access for creating, testing, and managing server prompt templates.",
    "version": "v1beta",
    "x-google-revision": "0"
  },
  "servers": [
    {
      "url": "https://firebasevertexai.googleapis.com",
      "description": "Global Endpoint"
    }
  ],
  "paths": {
    "/v1beta/projects/{project}/locations/{location}/config": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["firebasevertexai"],
        "operationId": "GetConfig",
        "description": "Fetches the current configuration for the given project.\nCurrently the only supported location is \"global\".",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Config"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["firebasevertexai"],
        "operationId": "UpdateConfig",
        "description": "Updates the current configuration for the specified project.\nCurrently the only supported location is \"global\".",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "description": "Optional. A comma-separated list of names of fields in the DebugToken to\nupdate. Example: `telemetry_config.mode`.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The Config to update.\n\nThe config's `name` field is used to identify the config to update.\nFormat: projects/{project}/locations/{location}/config",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Config"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Config"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{projectsId}/models/{modelsId}:countTokens": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebasevertexai"],
        "operationId": "CountTokens",
        "description": "Perform a token counting.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `model`. Required. The model's resource name. This serves as an ID for the Model to use.\n\nThis name should match a model name returned by the `ListModels` method.\n\nFormat: `models/{model}`",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelsId",
            "description": "Part of `model`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaCountTokensRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaCountTokensResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{projectsId}/models/{modelsId}:generateContent": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebasevertexai"],
        "operationId": "GenerateContent",
        "description": "Generate content with multimodal inputs.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `model`. Required. The name of the `Model` to use for generating the completion.\n\nFormat: `models/{model}`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelsId",
            "description": "Part of `model`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaGenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaGenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{projectsId}/models/{modelsId}:streamGenerateContent": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebasevertexai"],
        "operationId": "StreamGenerateContent",
        "description": "Generate content with multimodal inputs with streaming support.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `model`. Required. The name of the `Model` to use for generating the completion.\n\nFormat: `models/{model}`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelsId",
            "description": "Part of `model`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaGenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaGenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{projectsId}/templates/{templatesId}:templateGenerateContent": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebasevertexai"],
        "operationId": "TemplateGenerateContent",
        "description": "Generate content with multimodal inputs using a server-side prompt\ntemplate.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `name`. Required. Name of the template to use in the request.\nprojects/project-id/location/location-name/template/template-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templatesId",
            "description": "Part of `name`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateGenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaGenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{projectsId}/templates/{templatesId}:templateStreamGenerateContent": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebasevertexai"],
        "operationId": "TemplateStreamGenerateContent",
        "description": "Generate content with multimodal inputs and streaming outputs using a\nserver-side prompt template.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `name`. Required. Name of the template to use in the request.\nprojects/project-id/location/location-name/template/template-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templatesId",
            "description": "Part of `name`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateGenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaGenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{projectsId}/models/{modelsId}:predict": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebasevertexai"],
        "operationId": "Predict",
        "description": "Perform an online prediction.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `model`. Required. The name of the model for prediction.\nFormat: `name=models/{model}`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelsId",
            "description": "Part of `model`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaPredictRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaPredictResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{projectsId}/templates/{templatesId}:templatePredict": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebasevertexai"],
        "operationId": "TemplatePredict",
        "description": "Perform an online prediction using a server-side prompt template",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `name`. Required. Name of the template to use in the request.\nprojects/project-id/location/location-name/template/template-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templatesId",
            "description": "Part of `name`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateGenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaPredictResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:predict": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebasevertexai"],
        "operationId": "PredictByProjectsIdAndLocationsIdAndPublishersIdAndModelsId",
        "x-google-operation-name" : "Predict",
        "description": "Perform an online prediction.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `endpoint`. Required. The name of the Endpoint requested to serve the prediction.\nFormat:\n`projects/{project}/locations/{location}/endpoints/{endpoint}`",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "description": "Part of `endpoint`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishersId",
            "description": "Part of `endpoint`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelsId",
            "description": "Part of `endpoint`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudAiplatformV1beta1PredictRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudAiplatformV1beta1PredictResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{project}/locations/{location}/templates/{template}:templatePredict": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebasevertexai"],
        "operationId": "TemplatePredictByProjectAndLocationAndTemplate",
        "x-google-operation-name" : "TemplatePredict",
        "description": "Perform an online prediction using a server-side prompt template.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateGenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudAiplatformV1beta1PredictResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:countTokens": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebasevertexai"],
        "operationId": "CountTokensByProjectsIdAndLocationsIdAndPublishersIdAndModelsId",
        "x-google-operation-name" : "CountTokens",
        "description": "Perform a token counting.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `endpoint`. Required. The name of the Endpoint requested to perform token counting.\nFormat:\n`projects/{project}/locations/{location}/endpoints/{endpoint}`",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "description": "Part of `endpoint`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishersId",
            "description": "Part of `endpoint`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelsId",
            "description": "Part of `endpoint`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudAiplatformV1beta1CountTokensRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudAiplatformV1beta1CountTokensResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:generateContent": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebasevertexai"],
        "operationId": "GenerateContentByProjectsIdAndLocationsIdAndPublishersIdAndModelsId",
        "x-google-operation-name" : "GenerateContent",
        "description": "Generate content with multimodal inputs.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `model`. Required. The fully qualified name of the publisher model or tuned model endpoint to\nuse.\n\nPublisher model format:\n`projects/{project}/locations/{location}/publishers/*/models/*`\n\nTuned model endpoint format:\n`projects/{project}/locations/{location}/endpoints/{endpoint}`",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "description": "Part of `model`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishersId",
            "description": "Part of `model`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelsId",
            "description": "Part of `model`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudAiplatformV1beta1GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudAiplatformV1beta1GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:streamGenerateContent": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebasevertexai"],
        "operationId": "StreamGenerateContentByProjectsIdAndLocationsIdAndPublishersIdAndModelsId",
        "x-google-operation-name" : "StreamGenerateContent",
        "description": "Generate content with multimodal inputs with streaming support.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "projectsId",
            "description": "Part of `model`. Required. The fully qualified name of the publisher model or tuned model endpoint to\nuse.\n\nPublisher model format:\n`projects/{project}/locations/{location}/publishers/*/models/*`\n\nTuned model endpoint format:\n`projects/{project}/locations/{location}/endpoints/{endpoint}`",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationsId",
            "description": "Part of `model`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishersId",
            "description": "Part of `model`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelsId",
            "description": "Part of `model`. See documentation of `projectsId`.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleCloudAiplatformV1beta1GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudAiplatformV1beta1GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{project}/locations/{location}/templates/{template}:templateGenerateContent": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebasevertexai"],
        "operationId": "TemplateGenerateContentByProjectAndLocationAndTemplate",
        "x-google-operation-name" : "TemplateGenerateContent",
        "description": "Generate content with multimodal inputs using a server-side prompt\ntemplate.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateGenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudAiplatformV1beta1GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{project}/locations/{location}/templates/{template}:templateStreamGenerateContent": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebasevertexai"],
        "operationId": "TemplateStreamGenerateContentByProjectAndLocationAndTemplate",
        "x-google-operation-name" : "TemplateStreamGenerateContent",
        "description": "Generate content with multimodal inputs and streaming outputs using a\nserver-side prompt template.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateGenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleCloudAiplatformV1beta1GenerateContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{project}/locations/{location}/templates/{template}": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["firebasevertexai"],
        "operationId": "GetPromptTemplate",
        "description": "Gets a PromptTemplate.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptTemplate"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["firebasevertexai"],
        "operationId": "UpdatePromptTemplate",
        "description": "Updates a PromptTemplate.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "description": "Optional. The list of fields to update.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
              "format": "google-fieldmask"
            }
          },
          {
            "name": "validateOnly",
            "description": "Optional. If set to true, the request will be validated but not executed.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "allowMissing",
            "description": "Optional. If set to true and the PromptTemplate does not already exist, it will be\ncreated.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "regionalPropagationDisabled",
            "description": "Optional. For global endpoints only. If true, the PromptTemplate will be updated in\nglobal only. Otherwise, the PromptTemplate will _also_ be updated in all\nregions where applicable.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The PromptTemplate to update.\nThe PromptTemplate's `name` field is used to identify the PromptTemplate to\nupdate.\nFormat:\nprojects/{project}/locations/{location}/templates/{prompt_template}",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptTemplate"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptTemplate"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["firebasevertexai"],
        "operationId": "DeletePromptTemplate",
        "description": "Deletes a PromptTemplate.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "etag",
            "description": "Optional. The etag of the PromptTemplate. If this is provided, it must match the\nserver's etag for the operation to succeed.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validateOnly",
            "description": "Optional. If set to true, the request will be validated but not executed.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "allowMissing",
            "description": "Optional. If set to true and the PromptTemplate does not exist, the method will\nstill succeed.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "regionalPropagationDisabled",
            "description": "Optional. For global endpoints only. If true, the PromptTemplate will be deleted in\nglobal only. Otherwise, the PromptTemplate will _also_ be deleted in all\nregions where applicable.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{project}/locations/{location}/templates": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "get": {
        "tags": ["firebasevertexai"],
        "operationId": "ListPromptTemplates",
        "description": "Lists PromptTemplates.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "Optional. The maximum number of PromptTemplates to return. The service may return\nfewer than this value. If unspecified, at most 50 PromptTemplates will be\nreturned. The maximum value is 1000; values above 1000 will be coerced to\n1000.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "description": "Optional. A page token, received from a previous `ListPromptTemplates` call.\nProvide this to retrieve the subsequent page.\n\nWhen paginating, all other parameters provided to `ListPromptTemplates`\nmust match the call that provided the page token.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "Optional. The filter to apply to the list of PromptTemplates.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "description": "Optional. The view to return. If not specified, the default view is FULL.",
            "in": "query",
            "schema": {
              "type": "string",
              "x-google-enum-descriptions": [
                "The default / unset value. The API will default to the FULL view.",
                "Include all fields except template_string.",
                "Include all fields. This is the default view."
              ],
              "enum": [
                "PROMPT_TEMPLATE_VIEW_UNSPECIFIED",
                "PROMPT_TEMPLATE_VIEW_BASIC",
                "PROMPT_TEMPLATE_VIEW_FULL"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPromptTemplatesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["firebasevertexai"],
        "operationId": "CreatePromptTemplate",
        "description": "Creates a new PromptTemplate.",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validateOnly",
            "description": "Optional. If set to true, the request will be validated but not executed.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "promptTemplateId",
            "description": "Optional. The unique ID to use for the PromptTemplate, which will become the final\ncomponent of the PromptTemplate's resource name. It can contain only\nlowercase letters, numbers, and hyphens, with the first character a letter,\nthe last a letter or a number, and a 63-character maximum.\nIf not provided, a system-generated ID will be used.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "regionalPropagationDisabled",
            "description": "Optional. For global endpoints only. If true, the PromptTemplate will be created in\nglobal only. Otherwise, the PromptTemplate will _also_ be replicated to all\nregions where applicable.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The PromptTemplate to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptTemplate"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptTemplate"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/projects/{project}/locations/{location}/templates/{template}:modifyLock": {
      "parameters": [
        { "$ref": "#/components/parameters/alt"},
        { "$ref": "#/components/parameters/callback"},
        { "$ref": "#/components/parameters/prettyPrint"},
        { "$ref": "#/components/parameters/_.xgafv"}
      ],
      "post": {
        "tags": ["firebasevertexai"],
        "operationId": "ModifyLock",
        "description": "Updates the Lock state on a PromptTemplate",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyLockRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModifyLockResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "alt": {
        "name": "$alt",
        "description": "Data format for response.",
        "schema": {
          "default": "json",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ],
          "type": "string"
        },
        "in": "query"
      },
      "callback": {
        "name": "$callback",
        "description": "JSONP",
        "schema": {
          "type": "string"
        },
        "in": "query"
      },
      "prettyPrint": {
        "name": "$prettyPrint",
        "description": "Returns response with indentations and line breaks.",
        "schema": {
          "default": "true",
          "type": "boolean"
        },
        "in": "query"
      },
      "_.xgafv": {
        "name": "$.xgafv",
        "description": "V1 error format.",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ],
          "type": "string"
        },
        "in": "query"
      }
    },
    "securitySchemes": {
      "google_oauth_implicit": {
        "type": "oauth2",
        "description": "Google Oauth 2.0 implicit authentication flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
            }
          }
        }
      },
      "google_oauth_code": {
        "type": "oauth2",
        "description": "Google Oauth 2.0 authorizationCode authentication flow.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "refreshUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/cloud-platform": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
            }
          }
        }
      },
      "bearer_auth": {
        "type": "http",
        "description": "Http bearer authentication.",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Config": {
        "description": "Configuration for Firebase AI Logic.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Identifier. The resource name of the config.\nFormat: projects/{project}/locations/{location}/config",
            "x-google-identifier": true,
            "type": "string"
          },
          "telemetryConfig": {
            "description": "Optional. Configuration for telemetry.",
            "allOf": [{
              "$ref": "#/components/schemas/TelemetryConfig"
            }]
          },
          "generativeLanguageConfig": {
            "description": "Optional. Configuration for Gemini Developer API.",
            "allOf": [{
              "$ref": "#/components/schemas/GenerativeLanguageConfig"
            }]
          },
          "trafficFilter": {
            "description": "Optional. Configuration for traffic filtering.",
            "allOf": [{
              "$ref": "#/components/schemas/TrafficFilter"
            }]
          }
        }
      },
      "TelemetryConfig": {
        "description": "Configuration for telemetry.\n\nTelemetry is the collection of metrics, logs, and traces recorded by the\nFirebase AI Logic backend.",
        "type": "object",
        "properties": {
          "mode": {
            "description": "Optional. The current monitoring mode used for this project.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Unspecified mode. Not intended for use.",
              "Telemetry is disabled by default.",
              "The collection of metrics, logs, and traces is enabled."
            ],
            "enum": [
              "MODE_UNSPECIFIED",
              "NONE",
              "ALL"
            ]
          },
          "samplingRate": {
            "description": "Optional. The percentage of requests to be sampled, expressed as a fraction\nin the range (0,1]. Note that the actual sampling rate may be lower than\nthe specified value if the system is overloaded. Default is 1.0.",
            "type": "number",
            "format": "double"
          }
        }
      },
      "GenerativeLanguageConfig": {
        "description": "Configuration for using the Gemini Developer API via Firebase AI Logic.\n\nWhen using the Gemini Developer API via Firebase AI Logic, a separate Gemini\nAPI key is stored in this configuration *on the server* so that you do\n**not** add your Gemini API key directly into your app's codebase.",
        "type": "object",
        "properties": {
          "apiKey": {
            "description": "Input only. The value of the API key. The API key must have\n`generativelanguage.googleapis.com` in its \"API restrictions\" allowlist.\nNote that this API is sometimes called the *Generative Language API* in\nthe Google Cloud console.\n\nDo **not** add this Gemini API key into your app's codebase",
            "writeOnly": true,
            "type": "string"
          },
          "obfuscatedApiKey": {
            "description": "Output only. The obfuscated value of the API key, showing only the last few characters\nof the API key to unique identify it within the project.",
            "readOnly": true,
            "type": "string"
          }
        }
      },
      "TrafficFilter": {
        "description": "Configuration for traffic filter.",
        "type": "object",
        "properties": {
          "templateOnly": {
            "description": "Optional. Only allows users to use AI Logic via prompt templates for this project.",
            "type": "boolean"
          },
          "firebaseAuthRequired": {
            "description": "Optional. Only allow requests that include a valid Firebase Auth credential. Use this\nsetting to limit access to AI Logic to only requests from logged in users.\nFor more details on how to integrate with Firebase Auth see\nhttps://firebase.google.com/docs/auth",
            "type": "boolean"
          }
        }
      },
      "GoogleAiGenerativelanguageV1betaCountTokensRequest": {
        "description": "Counts the number of tokens in the `prompt` sent to a model.\n\nModels may tokenize text differently, so each model may return a different\n`token_count`.",
        "type": "object",
        "properties": {
          "contents": {
            "description": "Optional. The input given to the model as a prompt. This field is ignored when\n`generate_content_request` is set.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaContent"
            }
          },
          "generateContentRequest": {
            "description": "Optional. The overall input given to the `Model`. This includes the prompt as well as\nother model steering information like [system\ninstructions](https://ai.google.dev/gemini-api/docs/system-instructions),\nand/or function declarations for [function\ncalling](https://ai.google.dev/gemini-api/docs/function-calling).\n`Model`s/`Content`s and `generate_content_request`s are mutually\nexclusive. You can either send `Model` + `Content`s or a\n`generate_content_request`, but never both.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaGenerateContentRequest"
            }]
          }
        }
      },
      "GoogleAiGenerativelanguageV1betaContent": {
        "description": "The base structured datatype containing multi-part content of a message.\n\nA `Content` includes a `role` field designating the producer of the `Content`\nand a `parts` field containing multi-part data that contains the content of\nthe message turn.",
        "type": "object",
        "properties": {
          "parts": {
            "description": "Ordered `Parts` that constitute a single message. Parts may have different\nMIME types.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaPart"
            }
          },
          "role": {
            "description": "Optional. The producer of the content. Must be either 'user' or 'model'.\n\nUseful to set for multi-turn conversations, otherwise can be left blank\nor unset.",
            "type": "string"
          }
        }
      },
      "GoogleAiGenerativelanguageV1betaPart": {
        "description": "A datatype containing media that is part of a multi-part `Content` message.\n\nA `Part` consists of data which has an associated datatype. A `Part` can only\ncontain one of the accepted types in `Part.data`.\n\nA `Part` must have a fixed IANA MIME type identifying the type and subtype\nof the media if the `inline_data` field is filled with raw bytes.",
        "type": "object",
        "properties": {
          "text": {
            "description": "Inline text.",
            "type": "string"
          },
          "inlineData": {
            "description": "Inline media bytes.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaBlob"
            }]
          },
          "functionCall": {
            "description": "A predicted `FunctionCall` returned from the model that contains\na string representing the `FunctionDeclaration.name` with the\narguments and their values.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaFunctionCall"
            }]
          },
          "functionResponse": {
            "description": "The result output of a `FunctionCall` that contains a string\nrepresenting the `FunctionDeclaration.name` and a structured JSON\nobject containing any output from the function is used as context to\nthe model.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaFunctionResponse"
            }]
          },
          "fileData": {
            "description": "URI based data.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaFileData"
            }]
          },
          "executableCode": {
            "description": "Code generated by the model that is meant to be executed.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaExecutableCode"
            }]
          },
          "codeExecutionResult": {
            "description": "Result of executing the `ExecutableCode`.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaCodeExecutionResult"
            }]
          },
          "toolCall": {
            "description": "Server-side tool call. This field is populated when the model\npredicts a tool invocation that should be executed on the server.\nThe client is expected to echo this message back to the API.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaToolCall"
            }]
          },
          "toolResponse": {
            "description": "The output from a server-side `ToolCall` execution. This field is\npopulated by the client with the results of executing the\ncorresponding `ToolCall`.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaToolResponse"
            }]
          },
          "videoMetadata": {
            "description": "Optional. Video metadata. The metadata should only be specified while the video\ndata is presented in inline_data or file_data.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaVideoMetadata"
            }]
          },
          "thought": {
            "description": "Optional. Indicates if the part is thought from the model.",
            "type": "boolean"
          },
          "thoughtSignature": {
            "description": "Optional. An opaque signature for the thought so it can be reused in subsequent\nrequests.",
            "type": "string",
            "format": "byte"
          },
          "partMetadata": {
            "description": "Custom metadata associated with the Part.\nAgents using genai.Part as content representation may need to keep track\nof the additional information. For example it can be name of a file/source\nfrom which the Part originates or a way to multiplex multiple Part streams.",
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object."
            }
          },
          "mediaResolution": {
            "description": "Optional. Media resolution for the input media.",
            "allOf": [{
              "$ref": "#/components/schemas/MediaResolution"
            }]
          }
        }
      },
      "GoogleAiGenerativelanguageV1betaBlob": {
        "description": "Raw media bytes.\n\nText should not be sent as raw bytes, use the 'text' field.",
        "type": "object",
        "properties": {
          "mimeType": {
            "description": "The IANA standard MIME type of the source data.\nExamples of supported types:\n- Images: image/png, image/jpeg, image/jpg, image/webp, image/heic,\nimage/heif, image/gif, image/avif\n- Audio: audio/*, video/audio/s16le, video/audio/wav\n- Video: video/*\n- Text: text/plain, text/html, text/css, text/javascript,\ntext/x-typescript, text/csv, text/markdown, text/x-python, text/xml,\ntext/rtf, video/text/timestamp\n- Applications: application/x-javascript, application/x-typescript,\napplication/x-python-code, application/json, application/x-ipynb+json,\napplication/rtf, application/pdf For additional context,\nsee [Supported file\nformats](https://ai.google.dev/gemini-api/docs/file-input-methods#supported-content-types).\n//",
            "type": "string"
          },
          "data": {
            "description": "Raw bytes for media formats.",
            "type": "string",
            "format": "byte"
          }
        }
      },
      "GoogleAiGenerativelanguageV1betaFunctionCall": {
        "description": "A predicted `FunctionCall` returned from the model that contains\na string representing the `FunctionDeclaration.name` with the\narguments and their values.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Optional. Unique identifier of the function call. If populated, the client to\nexecute the `function_call` and return the response with the matching `id`.",
            "type": "string"
          },
          "name": {
            "description": "Required. The name of the function to call.\nMust be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum\nlength of 128.",
            "type": "string"
          },
          "args": {
            "description": "Optional. The function parameters and values in JSON object format.",
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object."
            }
          }
        },
        "required": [
          "name"
        ]
      },
      "GoogleAiGenerativelanguageV1betaFunctionResponse": {
        "description": "The result output from a `FunctionCall` that contains a string\nrepresenting the `FunctionDeclaration.name` and a structured JSON\nobject containing any output from the function is used as context to\nthe model. This should contain the result of a`FunctionCall` made\nbased on model prediction.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Optional. The identifier of the function call this response is for. Populated by the\nclient to match the corresponding function call `id`.",
            "type": "string"
          },
          "name": {
            "description": "Required. The name of the function to call.\nMust be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum\nlength of 128.",
            "type": "string"
          },
          "response": {
            "description": "Required. The function response in JSON object format.\nCallers can use any keys of their choice that fit the function's syntax\nto return the function output, e.g. \"output\", \"result\", etc.\nIn particular, if the function call failed to execute, the response can\nhave an \"error\" key to return error details to the model.\n\nMultimedia can be included by using a subobject containing a single \"$ref\"\nkey whose value is the `inline_data.display_name` of a\n`FunctionResponsePart` holding the multimedia.\nSee https://ai.google.dev/gemini-api/docs/function-calling#multimodal.",
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object."
            }
          },
          "parts": {
            "description": "Optional. Ordered `Parts` that constitute a function response. Parts may have\ndifferent IANA MIME types.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaFunctionResponsePart"
            }
          },
          "willContinue": {
            "description": "Optional. Signals that function call continues, and more responses will be\nreturned, turning the function call into a generator.\nIs only applicable to NON_BLOCKING function calls, is ignored otherwise.\nIf set to false, future responses will not be considered.\nIt is allowed to return empty `response` with `will_continue=False` to\nsignal that the function call is finished. This may still trigger the model\ngeneration. To avoid triggering the generation and finish the function\ncall, additionally set `scheduling` to `SILENT`.",
            "type": "boolean"
          },
          "scheduling": {
            "description": "Optional. Specifies how the response should be scheduled in the conversation.\nOnly applicable to NON_BLOCKING function calls, is ignored otherwise.\nDefaults to WHEN_IDLE.",
            "type": "string",
            "x-google-enum-descriptions": [
              "This value is unused.",
              "Only add the result to the conversation context, do not interrupt or\ntrigger generation.",
              "Add the result to the conversation context, and prompt to generate output\nwithout interrupting ongoing generation.",
              "Add the result to the conversation context, interrupt ongoing generation\nand prompt to generate output."
            ],
            "enum": [
              "SCHEDULING_UNSPECIFIED",
              "SILENT",
              "WHEN_IDLE",
              "INTERRUPT"
            ]
          }
        },
        "required": [
          "name",
          "response"
        ]
      },
      "GoogleAiGenerativelanguageV1betaFunctionResponsePart": {
        "description": "A datatype containing media that is part of a `FunctionResponse` message.\n\nA `FunctionResponsePart` consists of data which has an associated datatype. A\n`FunctionResponsePart` can only contain one of the accepted types in\n`FunctionResponsePart.data`.\n\nA `FunctionResponsePart` must have a fixed IANA MIME type identifying the\ntype and subtype of the media if the `inline_data` field is filled with raw\nbytes.",
        "type": "object",
        "properties": {
          "inlineData": {
            "description": "Inline media bytes.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaFunctionResponseBlob"
            }]
          }
        }
      },
      "GoogleAiGenerativelanguageV1betaFunctionResponseBlob": {
        "description": "Raw media bytes for function response.\n\nText should not be sent as raw bytes, use the 'FunctionResponse.response'\nfield.",
        "type": "object",
        "properties": {
          "mimeType": {
            "description": "The IANA standard MIME type of the source data.\nExamples:\n  - image/png\n  - image/jpeg\nIf an unsupported MIME type is provided, an error will be returned. For a\ncomplete list of supported types, see [Supported file\nformats](https://ai.google.dev/gemini-api/docs/prompting_with_media#supported_file_formats).",
            "type": "string"
          },
          "data": {
            "description": "Raw bytes for media formats.",
            "type": "string",
            "format": "byte"
          }
        }
      },
      "GoogleAiGenerativelanguageV1betaFileData": {
        "description": "URI based data.",
        "type": "object",
        "properties": {
          "mimeType": {
            "description": "Optional. The IANA standard MIME type of the source data.",
            "type": "string"
          },
          "fileUri": {
            "description": "Required. URI.",
            "type": "string"
          }
        },
        "required": [
          "fileUri"
        ]
      },
      "GoogleAiGenerativelanguageV1betaExecutableCode": {
        "description": "Code generated by the model that is meant to be executed, and the result\nreturned to the model.\n\nOnly generated when using the `CodeExecution` tool, in which the code will\nbe automatically executed, and a corresponding `CodeExecutionResult` will\nalso be generated.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Optional. Unique identifier of the `ExecutableCode` part.\nThe server returns the `CodeExecutionResult` with the matching `id`.",
            "type": "string"
          },
          "language": {
            "description": "Required. Programming language of the `code`.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Unspecified language. This value should not be used.",
              "Python >= 3.10, with numpy and simpy available.\nPython is the default language."
            ],
            "enum": [
              "LANGUAGE_UNSPECIFIED",
              "PYTHON"
            ]
          },
          "code": {
            "description": "Required. The code to be executed.",
            "type": "string"
          }
        },
        "required": [
          "language",
          "code"
        ]
      },
      "GoogleAiGenerativelanguageV1betaCodeExecutionResult": {
        "description": "Result of executing the `ExecutableCode`.\n\nGenerated only when the `CodeExecution` tool is used.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Optional. The identifier of the `ExecutableCode` part this result is for.\nOnly populated if the corresponding `ExecutableCode` has an id.",
            "type": "string"
          },
          "outcome": {
            "description": "Required. Outcome of the code execution.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Unspecified status. This value should not be used.",
              "Code execution completed successfully. `output` contains the stdout, if\nany.",
              "Code execution failed. `output` contains the stderr and stdout, if any.",
              "Code execution ran for too long, and was cancelled. There may or may not\nbe a partial `output` present."
            ],
            "enum": [
              "OUTCOME_UNSPECIFIED",
              "OUTCOME_OK",
              "OUTCOME_FAILED",
              "OUTCOME_DEADLINE_EXCEEDED"
            ]
          },
          "output": {
            "description": "Optional. Contains stdout when code execution is successful, stderr or other\ndescription otherwise.",
            "type": "string"
          }
        },
        "required": [
          "outcome"
        ]
      },
      "GoogleAiGenerativelanguageV1betaToolCall": {
        "description": "A predicted server-side `ToolCall` returned from the model. This message\ncontains information about a tool that the model wants to invoke.\nThe client is NOT expected to execute this `ToolCall`. Instead, the\nclient should pass this `ToolCall` back to the API in a subsequent turn\nwithin a `Content` message, along with the corresponding `ToolResponse`.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Optional. Unique identifier of the tool call.\nThe server returns the tool response with the matching `id`.",
            "type": "string"
          },
          "toolType": {
            "description": "Required. The type of tool that was called.",
            "allOf": [{
              "$ref": "#/components/schemas/ToolType"
            }]
          },
          "args": {
            "description": "Optional. The tool call arguments.\nExample: {\"arg1\" : \"value1\", \"arg2\" : \"value2\" , ...}",
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object."
            }
          }
        },
        "required": [
          "toolType"
        ]
      },
      "GoogleAiGenerativelanguageV1betaToolResponse": {
        "description": "The output from a server-side `ToolCall` execution. This message contains\nthe results of a tool invocation that was initiated by a `ToolCall`\nfrom the model. The client should pass this `ToolResponse` back to the API\nin a subsequent turn within a `Content` message, along with the corresponding\n`ToolCall`.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Optional. The identifier of the tool call this response is for.",
            "type": "string"
          },
          "toolType": {
            "description": "Required. The type of tool that was called, matching the `tool_type` in the\ncorresponding `ToolCall`.",
            "allOf": [{
              "$ref": "#/components/schemas/ToolType"
            }]
          },
          "response": {
            "description": "Optional. The tool response.",
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object."
            }
          }
        },
        "required": [
          "toolType"
        ]
      },
      "GoogleAiGenerativelanguageV1betaVideoMetadata": {
        "deprecated": true,
        "description": "Deprecated: Use `GenerateContentRequest.processing_options` instead. Metadata\ndescribes the input video content.",
        "type": "object",
        "properties": {
          "startOffset": {
            "description": "Optional. The start offset of the video.",
            "type": "string",
            "format": "google-duration"
          },
          "endOffset": {
            "description": "Optional. The end offset of the video.",
            "type": "string",
            "format": "google-duration"
          },
          "fps": {
            "description": "Optional. The frame rate of the video sent to the model. If not specified, the\ndefault value will be 1.0.\nThe fps range is (0.0, 24.0].",
            "type": "number",
            "format": "double"
          }
        }
      },
      "MediaResolution": {
        "description": "Media resolution for tokenization.",
        "type": "object",
        "properties": {
          "level": {
            "description": "The tokenization quality used for given media.\n for Gemini API support .",
            "type": "string",
            "x-google-enum-descriptions": [
              "Media resolution has not been set.",
              "Media resolution set to low.",
              "Media resolution set to medium.",
              "Media resolution set to high.",
              "Media resolution set to ultra high."
            ],
            "enum": [
              "MEDIA_RESOLUTION_UNSPECIFIED",
              "MEDIA_RESOLUTION_LOW",
              "MEDIA_RESOLUTION_MEDIUM",
              "MEDIA_RESOLUTION_HIGH",
              "MEDIA_RESOLUTION_ULTRA_HIGH"
            ]
          }
        }
      },
      "GoogleAiGenerativelanguageV1betaGenerateContentRequest": {
        "description": "Request to generate a completion from the model.",
        "type": "object",
        "properties": {
          "model": {
            "description": "Required. The name of the `Model` to use for generating the completion.\n\nFormat: `models/{model}`.",
            "type": "string"
          },
          "systemInstruction": {
            "description": "Optional. Developer set [system\ninstruction(s)](https://ai.google.dev/gemini-api/docs/system-instructions).\nCurrently, text only.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaContent"
            }]
          },
          "contents": {
            "description": "Required. The content of the current conversation with the model.\n\nFor single-turn queries, this is a single instance. For multi-turn queries\nlike [chat](https://ai.google.dev/gemini-api/docs/text-generation#chat),\nthis is a repeated field that contains the conversation history and the\nlatest request.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaContent"
            }
          },
          "tools": {
            "description": "Optional. A list of `Tools` the `Model` may use to generate the next response.\n\nA `Tool` is a piece of code that enables the system to interact with\nexternal systems to perform an action, or set of actions, outside of\nknowledge and scope of the `Model`. Supported `Tool`s are `Function` and\n`code_execution`. Refer to the [Function\ncalling](https://ai.google.dev/gemini-api/docs/function-calling) and the\n[Code execution](https://ai.google.dev/gemini-api/docs/code-execution)\nguides to learn more.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaTool"
            }
          },
          "toolConfig": {
            "description": "Optional. Tool configuration for any `Tool` specified in the request. Refer to the\n[Function calling\nguide](https://ai.google.dev/gemini-api/docs/function-calling#function_calling_mode)\nfor a usage example.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaToolConfig"
            }]
          },
          "safetySettings": {
            "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content.\n\nThis will be enforced on the `GenerateContentRequest.contents` and\n`GenerateContentResponse.candidates`. There should not be more than one\nsetting for each `SafetyCategory` type. The API will block any contents and\nresponses that fail to meet the thresholds set by these settings. This list\noverrides the default settings for each `SafetyCategory` specified in the\nsafety_settings. If there is no `SafetySetting` for a given\n`SafetyCategory` provided in the list, the API will use the default safety\nsetting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH,\nHARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT,\nHARM_CATEGORY_HARASSMENT, HARM_CATEGORY_CIVIC_INTEGRITY,\nHARM_CATEGORY_JAILBREAK are supported.\nRefer to the [guide](https://ai.google.dev/gemini-api/docs/safety-settings)\nfor detailed information on available safety settings. Also refer to the\n[Safety guidance](https://ai.google.dev/gemini-api/docs/safety-guidance) to\nlearn how to incorporate safety considerations in your AI applications.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaSafetySetting"
            }
          },
          "generationConfig": {
            "description": "Optional. Configuration options for model generation and outputs.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaGenerationConfig"
            }]
          },
          "cachedContent": {
            "description": "Optional. The name of the content\n[cached](https://ai.google.dev/gemini-api/docs/caching) to use as context\nto serve the prediction. Format: `cachedContents/{cachedContent}`",
            "type": "string"
          },
          "serviceTier": {
            "description": "Optional. The service tier of the request.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaServiceTier"
            }]
          },
          "store": {
            "description": "Optional. Configures the logging behavior for a given request. If set, it takes\nprecedence over the project-level logging config.",
            "type": "boolean"
          }
        },
        "required": [
          "model",
          "contents"
        ]
      },
      "GoogleAiGenerativelanguageV1betaTool": {
        "description": "Tool details that the model may use to generate response.\n\nA `Tool` is a piece of code that enables the system to interact with\nexternal systems to perform an action, or set of actions, outside of\nknowledge and scope of the model.\n\nNext ID: 16",
        "type": "object",
        "properties": {
          "functionDeclarations": {
            "description": "Optional. A list of `FunctionDeclarations` available to the model that can be used\nfor function calling.\n\nThe model or system does not execute the function. Instead the defined\nfunction may be returned as a FunctionCall\nwith arguments to the client side for execution. The model may decide to\ncall a subset of these functions by populating\nFunctionCall in the response. The next\nconversation turn may contain a\nFunctionResponse\nwith the Content.role \"function\" generation context for the next model\nturn.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaFunctionDeclaration"
            }
          },
          "googleSearchRetrieval": {
            "description": "Optional. Retrieval tool that is powered by Google search.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaGoogleSearchRetrieval"
            }]
          },
          "codeExecution": {
            "description": "Optional. Enables the model to execute code as part of generation.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaCodeExecution"
            }]
          },
          "googleSearch": {
            "description": "Optional. GoogleSearch tool type.\nTool to support Google Search in Model. Powered by Google.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaToolGoogleSearch"
            }]
          },
          "computerUse": {
            "description": "Optional. Tool to support the model interacting directly with the computer.\nIf enabled, it automatically populates computer-use specific Function\nDeclarations.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaToolComputerUse"
            }]
          },
          "urlContext": {
            "description": "Optional. Tool to support URL context retrieval.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaUrlContext"
            }]
          },
          "fileSearch": {
            "description": "Optional. FileSearch tool type.\nTool to retrieve knowledge from Semantic Retrieval corpora.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaFileSearch"
            }]
          },
          "mcpServers": {
            "description": "Optional. MCP Servers to connect to.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaToolMcpServer"
            }
          },
          "googleMaps": {
            "description": "Optional. Tool that allows grounding the model's response with geospatial context\nrelated to the user's query.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaGoogleMaps"
            }]
          }
        }
      },
      "GoogleAiGenerativelanguageV1betaFunctionDeclaration": {
        "description": "Structured representation of a function declaration as defined by the\n[OpenAPI 3.03 specification](https://spec.openapis.org/oas/v3.0.3). Included\nin this declaration are the function name and parameters. This\nFunctionDeclaration is a representation of a block of code that can be used\nas a `Tool` by the model and executed by the client.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Required. The name of the function.\nMust be a-z, A-Z, 0-9, or contain underscores, colons, dots, and dashes,\nwith a maximum length of 128.",
            "type": "string"
          },
          "description": {
            "description": "Required. A brief description of the function.",
            "type": "string"
          },
          "parameters": {
            "description": "Optional. Describes the parameters to this function. Reflects the Open API 3.03\nParameter Object string Key: the name of the parameter. Parameter names are\ncase sensitive. Schema Value: the Schema defining the type used for the\nparameter.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaSchema"
            }]
          },
          "parametersJsonSchema": {
            "description": "Optional. Describes the parameters to the function in JSON Schema format. The schema\nmust describe an object where the properties are the parameters to the\nfunction. For example:\n\n```\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": { \"type\": \"string\" },\n    \"age\": { \"type\": \"integer\" }\n  },\n  \"additionalProperties\": false,\n  \"required\": [\"name\", \"age\"],\n  \"propertyOrdering\": [\"name\", \"age\"]\n}\n```\n\nThis field is mutually exclusive with `parameters`."
          },
          "response": {
            "description": "Optional. Describes the output from this function in JSON Schema format. Reflects the\nOpen API 3.03 Response Object. The Schema defines the type used for the\nresponse value of the function.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaSchema"
            }]
          },
          "responseJsonSchema": {
            "description": "Optional. Describes the output from this function in JSON Schema format. The value\nspecified by the schema is the response value of the function.\n\nThis field is mutually exclusive with `response`."
          },
          "behavior": {
            "description": "Optional. Specifies the function Behavior.\nCurrently only supported by the BidiGenerateContent method.",
            "type": "string",
            "x-google-enum-descriptions": [
              "This value is unused.",
              "If set, the system will wait to receive the function response before\ncontinuing the conversation.",
              "If set, the system will not wait to receive the function response.\nInstead, it will attempt to handle function responses as they become\navailable while maintaining the conversation between the user and the\nmodel."
            ],
            "enum": [
              "UNSPECIFIED",
              "BLOCKING",
              "NON_BLOCKING"
            ]
          }
        },
        "required": [
          "name",
          "description"
        ]
      },
      "GoogleAiGenerativelanguageV1betaSchema": {
        "description": "The `Schema` object allows the definition of input and output data types.\nThese types can be objects, but also primitives and arrays.\nRepresents a select subset of an [OpenAPI 3.0 schema\nobject](https://spec.openapis.org/oas/v3.0.3#schema).",
        "type": "object",
        "properties": {
          "type": {
            "description": "Required. Data type.",
            "allOf": [{
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaType"
            }]
          },
          "format": {
            "description": "Optional. The format of the data. Any value is allowed, but most do not trigger any\nspecial functionality.",
            "type": "string"
          },
          "title": {
            "description": "Optional. The title of the schema.",
[...]
