{
  "protocol": "rest",
  "ownerName": "Google",
  "revision": "20260712",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "canonicalName": "Generative Language",
  "basePath": "",
  "schemas": {
    "GeneratedFile": {
      "id": "GeneratedFile",
      "description": "A file generated on behalf of a user.",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "MIME type of the generatedFile.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "GENERATING",
            "GENERATED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Being generated.",
            "Generated and is ready for download.",
            "Failed to generate the GeneratedFile."
          ],
          "description": "Output only. The state of the GeneratedFile."
        },
        "name": {
          "description": "Identifier. The name of the generated file. Example: `generatedFiles/abc-123`",
          "type": "string"
        },
        "error": {
          "description": "Error details if the GeneratedFile ends up in the STATE_FAILED state.",
          "$ref": "Status"
        }
      }
    },
    "LanguageHints": {
      "id": "LanguageHints",
      "description": "Provides hints to the model about possible languages present in the audio.",
      "type": "object",
      "properties": {
        "languageCodes": {
          "description": "Required. BCP-47 language codes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CustomLongRunningOperation": {
      "id": "CustomLongRunningOperation",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "DownloadMediaResponse": {
      "id": "DownloadMediaResponse",
      "description": "Response for DownloadMedia.",
      "type": "object",
      "properties": {
        "blob": {
          "readOnly": true,
          "$ref": "GdataMedia",
          "description": "Output only. The blob data."
        }
      }
    },
    "EmbedContentResponse": {
      "id": "EmbedContentResponse",
      "description": "The response to an `EmbedContentRequest`.",
      "type": "object",
      "properties": {
        "embedding": {
          "readOnly": true,
          "$ref": "ContentEmbedding",
          "description": "Output only. The embedding generated from the input content."
        },
        "usageMetadata": {
          "description": "Output only. The usage metadata for the request.",
          "$ref": "EmbeddingUsageMetadata",
          "readOnly": true
        }
      }
    },
    "Maps": {
      "id": "Maps",
      "description": "A grounding chunk from Google Maps. A Maps chunk corresponds to a single place.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of the place.",
          "type": "string"
        },
        "placeId": {
          "description": "The ID of the place, in `places/{place_id}` format. A user can use this ID to look up that place.",
          "type": "string"
        },
        "uri": {
          "description": "URI reference of the place.",
          "type": "string"
        },
        "placeAnswerSources": {
          "$ref": "PlaceAnswerSources",
          "description": "Sources that provide answers about the features of a given place in Google Maps."
        },
        "text": {
          "description": "Text description of the place answer.",
          "type": "string"
        }
      }
    },
    "SearchEntryPoint": {
      "id": "SearchEntryPoint",
      "description": "Google search entry point.",
      "type": "object",
      "properties": {
        "sdkBlob": {
          "description": "Optional. Base64 encoded JSON representing array of tuple.",
          "type": "string",
          "format": "byte"
        },
        "renderedContent": {
          "description": "Optional. Web content snippet that can be embedded in a web page or an app webview.",
          "type": "string"
        }
      }
    },
    "FunctionCallingConfig": {
      "id": "FunctionCallingConfig",
      "description": "Configuration for specifying function calling behavior.",
      "type": "object",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Unspecified function calling mode. This value should not be used.",
            "Default model behavior, model decides to predict either a function call or a natural language response.",
            "Model is constrained to always predicting a function call only. If \"allowed_function_names\" are set, the predicted function call will be limited to any one of \"allowed_function_names\", else the predicted function call will be any one of the provided \"function_declarations\".",
            "Model will not predict any function call. Model behavior is same as when not passing any function declarations.",
            "Model decides to predict either a function call or a natural language response, but will validate function calls with constrained decoding. If \"allowed_function_names\" are set, the predicted function call will be limited to any one of \"allowed_function_names\", else the predicted function call will be any one of the provided \"function_declarations\"."
          ],
          "description": "Optional. Specifies the mode in which function calling should execute. If unspecified, the default value will be set to AUTO.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "ANY",
            "NONE",
            "VALIDATED"
          ]
        },
        "allowedFunctionNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A set of function names that, when provided, limits the functions the model will call. This should only be set when the Mode is ANY or VALIDATED. Function names should match [FunctionDeclaration.name]. When set, model will predict a function call from only allowed function names.",
          "type": "array"
        }
      }
    },
    "ModelStatus": {
      "id": "ModelStatus",
      "description": "The status of the underlying model. This is used to indicate the stage of the underlying model and the retirement time if applicable.",
      "type": "object",
      "properties": {
        "retirementTime": {
          "description": "The time at which the model will be retired.",
          "type": "string",
          "format": "google-datetime"
        },
        "modelStage": {
          "type": "string",
          "enum": [
            "MODEL_STAGE_UNSPECIFIED",
            "UNSTABLE_EXPERIMENTAL",
            "EXPERIMENTAL",
            "PREVIEW",
            "STABLE",
            "LEGACY",
            "DEPRECATED",
            "RETIRED"
          ],
          "enumDescriptions": [
            "Unspecified model stage.",
            "The underlying model is subject to lots of tunings.",
            "Models in this stage are for experimental purposes only.",
            "Models in this stage are more mature than experimental models.",
            "Models in this stage are considered stable and ready for production use.",
            "If the model is on this stage, it means that this model is on the path to deprecation in near future. Only existing customers can use this model.",
            "Models in this stage are deprecated. These models cannot be used.",
            "Models in this stage are retired. These models cannot be used."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "description": "The stage of the underlying model."
        },
        "message": {
          "description": "A message explaining the model status.",
          "type": "string"
        }
      }
    },
    "Example": {
      "id": "Example",
      "description": "An input/output example used to instruct the Model. It demonstrates how the model should respond or format its response.",
      "type": "object",
      "properties": {
        "input": {
          "$ref": "Message",
          "description": "Required. An example of an input `Message` from the user."
        },
        "output": {
          "$ref": "Message",
          "description": "Required. An example of what the model should output given the input."
        }
      }
    },
    "ResponseFormatConfig": {
      "id": "ResponseFormatConfig",
      "description": "Configuration for the response output format. This is a flat object where each optional sub-field configures a specific output modality.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Optional. Text output format configuration.",
          "$ref": "TextResponseFormat"
        },
        "audio": {
          "$ref": "AudioResponseFormat",
          "description": "Optional. Audio output format configuration."
        },
        "image": {
          "description": "Optional. Image output format configuration.",
          "$ref": "ImageResponseFormat"
        }
      }
    },
    "TextPrompt": {
      "id": "TextPrompt",
      "description": "Text given to the model as a prompt. The Model will use this TextPrompt to Generate a text completion.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Required. The prompt text.",
          "type": "string"
        }
      }
    },
    "ListTunedModelsResponse": {
      "id": "ListTunedModelsResponse",
      "description": "Response from `ListTunedModels` containing a paginated list of Models.",
      "type": "object",
      "properties": {
        "tunedModels": {
          "items": {
            "$ref": "TunedModel"
          },
          "description": "The returned Models.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      }
    },
    "GenerationConfig": {
      "id": "GenerationConfig",
      "description": "Configuration options for model generation and outputs. Not all parameters are configurable for every model.",
      "type": "object",
      "properties": {
        "stopSequences": {
          "description": "Optional. The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a `stop_sequence`. The stop sequence will not be included as part of the response.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "frequencyPenalty": {
          "description": "Optional. Frequency penalty applied to the next token's logprobs, multiplied by the number of times each token has been seen in the respponse so far. A positive penalty will discourage the use of tokens that have already been used, proportional to the number of times the token has been used: The more a token is used, the more difficult it is for the model to use that token again increasing the vocabulary of responses. Caution: A _negative_ penalty will encourage the model to reuse tokens proportional to the number of times the token has been used. Small negative values will reduce the vocabulary of a response. Larger negative values will cause the model to start repeating a common token until it hits the max_output_tokens limit.",
          "type": "number",
          "format": "float"
        },
        "responseLogprobs": {
          "description": "Optional. If true, export the logprobs results in response.",
          "type": "boolean"
        },
        "thinkingConfig": {
          "$ref": "ThinkingConfig",
          "description": "Optional. Config for thinking features. An error will be returned if this field is set for models that don't support thinking."
        },
        "logprobs": {
          "description": "Optional. Only valid if response_logprobs=True. This sets the number of top logprobs, including the chosen candidate, to return at each decoding step in the Candidate.logprobs_result. The number must be in the range of [0, 20].",
          "type": "integer",
          "format": "int32"
        },
        "maxOutputTokens": {
          "description": "Optional. The maximum number of tokens to include in a response candidate. Note: The default value varies by model, see the `Model.output_token_limit` attribute of the `Model` returned from the `getModel` function.",
          "type": "integer",
          "format": "int32"
        },
        "imageConfig": {
          "$ref": "ImageConfig",
          "description": "Optional. Config for image generation. An error will be returned if this field is set for models that don't support these config options."
        },
        "topP": {
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and Top-p (nucleus) sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits the number of tokens based on the cumulative probability. Note: The default value varies by `Model` and is specified by the`Model.top_p` attribute returned from the `getModel` function. An empty `top_k` attribute indicates that the model doesn't apply top-k sampling and doesn't allow setting `top_k` on requests.",
          "type": "number",
          "format": "float"
        },
        "enableEnhancedCivicAnswers": {
          "description": "Optional. Enables enhanced civic answers. It may not be available for all models.",
          "type": "boolean"
        },
        "_responseJsonSchema": {
          "description": "Optional. Output schema of the generated response. This is an alternative to `response_schema` that accepts [JSON Schema](https://json-schema.org/). If set, `response_schema` must be omitted, but `response_mime_type` is required. While the full JSON Schema may be sent, not all features are supported. Specifically, only the following properties are supported: - `$id` - `$defs` - `$ref` - `$anchor` - `type` - `format` - `title` - `description` - `enum` (for strings and numbers) - `items` - `prefixItems` - `minItems` - `maxItems` - `minimum` - `maximum` - `anyOf` - `oneOf` (interpreted the same as `anyOf`) - `properties` - `additionalProperties` - `required` The non-standard `propertyOrdering` property may also be set. Cyclic references are unrolled to a limited degree and, as such, may only be used within non-required properties. (Nullable properties are not sufficient.) If `$ref` is set on a sub-schema, no other properties, except for than those starting as a `$`, may be set.",
          "type": "any"
        },
        "responseJsonSchema": {
          "description": "Optional. An internal detail. Use `responseJsonSchema` rather than this field.",
          "type": "any"
        },
        "presencePenalty": {
          "description": "Optional. Presence penalty applied to the next token's logprobs if the token has already been seen in the response. This penalty is binary on/off and not dependant on the number of times the token is used (after the first). Use frequency_penalty for a penalty that increases with each use. A positive penalty will discourage the use of tokens that have already been used in the response, increasing the vocabulary. A negative penalty will encourage the use of tokens that have already been used in the response, decreasing the vocabulary.",
          "type": "number",
          "format": "float"
        },
        "responseModalities": {
          "items": {
            "type": "string",
            "enum": [
              "MODALITY_UNSPECIFIED",
              "TEXT",
              "IMAGE",
              "AUDIO"
            ],
            "enumDescriptions": [
              "Default value.",
              "Indicates the model should return text.",
              "Indicates the model should return images.",
              "Indicates the model should return audio."
            ]
          },
          "description": "Optional. The requested modalities of the response. Represents the set of modalities that the model can return, and should be expected in the response. This is an exact match to the modalities of the response. A model may have multiple combinations of supported modalities. If the requested modalities do not match any of the supported combinations, an error will be returned. An empty list is equivalent to requesting only text.",
          "type": "array"
        },
        "responseSchema": {
          "$ref": "Schema",
          "description": "Optional. Output schema of the generated candidate text. Schemas must be a subset of the [OpenAPI schema](https://spec.openapis.org/oas/v3.0.3#schema) and can be objects, primitives or arrays. If set, a compatible `response_mime_type` must also be set. Compatible MIME types: `application/json`: Schema for JSON response. Refer to the [JSON text generation guide](https://ai.google.dev/gemini-api/docs/json-mode) for more details."
        },
        "responseMimeType": {
          "description": "Optional. MIME type of the generated candidate text. Supported MIME types are: `text/plain`: (default) Text output. `application/json`: JSON response in the response candidates. `text/x.enum`: ENUM as a string response in the response candidates. Refer to the [docs](https://ai.google.dev/gemini-api/docs/prompting_with_media#plain_text_formats) for a list of all supported text MIME types.",
          "type": "string"
        },
        "mediaResolution": {
          "description": "Optional. If specified, the media resolution specified will be used.",
          "type": "string",
          "enum": [
            "MEDIA_RESOLUTION_UNSPECIFIED",
            "MEDIA_RESOLUTION_LOW",
            "MEDIA_RESOLUTION_MEDIUM",
            "MEDIA_RESOLUTION_HIGH"
          ],
          "enumDescriptions": [
            "Media resolution has not been set.",
            "Media resolution set to low (64 tokens).",
            "Media resolution set to medium (256 tokens).",
            "Media resolution set to high (zoomed reframing with 256 tokens)."
          ]
        },
        "candidateCount": {
          "description": "Optional. Number of generated responses to return. If unset, this will default to 1. Please note that this doesn't work for previous generation models (Gemini 1.0 family)",
          "type": "integer",
          "format": "int32"
        },
        "responseFormat": {
          "description": "Optional. Configuration for the response output format. Allows specifying output configuration per modality (text, audio, image) in a flat structure.",
          "$ref": "ResponseFormatConfig"
        },
        "speechConfig": {
          "description": "Optional. The speech generation config.",
          "$ref": "SpeechConfig"
        },
        "enableAffectiveDialog": {
          "description": "Optional. If enabled, the model will detect emotions and adapt its responses accordingly.",
          "type": "boolean"
        },
        "translationConfig": {
          "$ref": "TranslationConfig",
          "description": "Optional. Config for translation."
        },
        "temperature": {
          "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned from the `getModel` function. Values can range from [0.0, 2.0].",
          "type": "number",
          "format": "float"
        },
        "topK": {
          "description": "Optional. The maximum number of tokens to consider when sampling. Gemini models use Top-p (nucleus) sampling or a combination of Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens. Models running with nucleus sampling don't allow top_k setting. Note: The default value varies by `Model` and is specified by the`Model.top_p` attribute returned from the `getModel` function. An empty `top_k` attribute indicates that the model doesn't apply top-k sampling and doesn't allow setting `top_k` on requests.",
          "type": "integer",
          "format": "int32"
        },
        "seed": {
          "description": "Optional. Seed used in decoding. If not set, the request uses a randomly generated seed.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Interval": {
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SemanticRetrieverConfig": {
      "id": "SemanticRetrieverConfig",
      "description": "Configuration for retrieving grounding content from a `Corpus` or `Document` created using the Semantic Retriever API.",
      "type": "object",
      "properties": {
        "source": {
          "description": "Required. Name of the resource for retrieval. Example: `corpora/123` or `corpora/123/documents/abc`.",
          "type": "string"
        },
        "metadataFilters": {
          "description": "Optional. Filters for selecting `Document`s and/or `Chunk`s from the resource.",
          "type": "array",
          "items": {
            "$ref": "MetadataFilter"
          }
        },
        "maxChunksCount": {
          "description": "Optional. Maximum number of relevant `Chunk`s to retrieve.",
          "type": "integer",
          "format": "int32"
        },
        "query": {
          "$ref": "Content",
          "description": "Required. Query to use for matching `Chunk`s in the given resource by similarity."
        },
        "minimumRelevanceScore": {
          "description": "Optional. Minimum relevance score for retrieved relevant `Chunk`s.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "EmbedContentBatch": {
      "id": "EmbedContentBatch",
      "description": "A resource representing a batch of `EmbedContent` requests.",
      "type": "object",
      "properties": {
        "priority": {
          "description": "Optional. The priority of the batch. Batches with a higher priority value will be processed before batches with a lower priority value. Negative values are allowed. Default is 0.",
          "type": "string",
          "format": "int64"
        },
        "batchStats": {
          "description": "Output only. Stats about the batch.",
          "readOnly": true,
          "$ref": "EmbedContentBatchStats"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the batch was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. The user-defined name of this batch.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`.",
          "type": "string",
          "readOnly": true
        },
        "inputConfig": {
          "description": "Required. Input configuration of the instances on which batch processing are performed.",
          "$ref": "InputEmbedContentConfig"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which the batch was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time at which the batch processing completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "The batch state is unspecified.",
            "The service is preparing to run the batch.",
            "The batch is in progress.",
            "The batch completed successfully.",
            "The batch failed.",
            "The batch has been cancelled.",
            "The batch has expired."
          ],
          "description": "Output only. The state of the batch.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "BATCH_STATE_UNSPECIFIED",
            "BATCH_STATE_PENDING",
            "BATCH_STATE_RUNNING",
            "BATCH_STATE_SUCCEEDED",
            "BATCH_STATE_FAILED",
            "BATCH_STATE_CANCELLED",
            "BATCH_STATE_EXPIRED"
          ]
        },
        "model": {
          "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
          "type": "string"
        },
        "output": {
          "readOnly": true,
          "$ref": "EmbedContentBatchOutput",
          "description": "Output only. The output of the batch request."
        }
      }
    },
    "ListCachedContentsResponse": {
      "id": "ListCachedContentsResponse",
      "description": "Response with CachedContents list.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "cachedContents": {
          "description": "List of cached contents.",
          "type": "array",
          "items": {
            "$ref": "CachedContent"
          }
        }
      }
    },
    "Document": {
      "id": "Document",
      "description": "A `Document` is a collection of `Chunk`s.",
      "type": "object",
      "properties": {
        "customMetadata": {
          "description": "Optional. User provided custom metadata stored as key-value pairs used for querying. A `Document` can have a maximum of 20 `CustomMetadata`.",
          "type": "array",
          "items": {
            "$ref": "CustomMetadata"
          }
        },
        "sizeBytes": {
          "description": "Output only. The size of raw bytes ingested into the Document.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The Timestamp of when the `Document` was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. Current state of the `Document`.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Some `Chunks` of the `Document` are being processed (embedding and vector storage).",
            "All `Chunks` of the `Document` is processed and available for querying.",
            "Some `Chunks` of the `Document` failed processing."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_PENDING",
            "STATE_ACTIVE",
            "STATE_FAILED"
          ],
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. The human-readable display name for the `Document`. The display name must be no more than 512 characters in length, including spaces. Example: \"Semantic Retriever Documentation\"",
          "type": "string"
        },
        "mimeType": {
          "readOnly": true,
          "description": "Output only. The mime type of the Document.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Identifier. The `Document` resource name. The ID (name excluding the \"fileSearchStores/*/documents/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `fileSearchStores/{file_search_store_id}/documents/my-awesome-doc-123a456b789c`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The Timestamp of when the `Document` was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "ReviewSnippet": {
      "id": "ReviewSnippet",
      "description": "Encapsulates a snippet of a user review that answers a question about the features of a specific place in Google Maps.",
      "type": "object",
      "properties": {
        "googleMapsUri": {
          "description": "A link that corresponds to the user review on Google Maps.",
          "type": "string"
        },
        "title": {
          "description": "Title of the review.",
          "type": "string"
        },
        "reviewId": {
          "description": "The ID of the review snippet.",
          "type": "string"
        }
      }
    },
    "InlinedResponse": {
      "id": "InlinedResponse",
      "description": "The response to a single request in the batch.",
      "type": "object",
      "properties": {
        "response": {
          "$ref": "GenerateContentResponse",
          "readOnly": true,
          "description": "Output only. The response to the request."
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. The error encountered while processing the request."
        },
        "metadata": {
          "readOnly": true,
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. The metadata associated with the request.",
          "type": "object"
        }
      }
    },
    "GoogleSearch": {
      "id": "GoogleSearch",
      "description": "GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google.",
      "type": "object",
      "properties": {
        "searchTypes": {
          "$ref": "SearchTypes",
          "description": "Optional. The set of search types to enable. If not set, web search is enabled by default."
        },
        "timeRangeFilter": {
          "description": "Optional. Filter search results to a specific time range. If customers set a start time, they must set an end time (and vice versa).",
          "$ref": "Interval"
        }
      }
    },
    "Web": {
      "id": "Web",
      "description": "Chunk from the web.",
      "type": "object",
      "properties": {
        "uri": {
          "readOnly": true,
          "description": "Output only. URI reference of the chunk.",
          "type": "string"
        },
        "title": {
          "readOnly": true,
          "description": "Output only. Title of the chunk.",
          "type": "string"
        }
      }
    },
    "AudioResponseFormat": {
      "id": "AudioResponseFormat",
      "description": "Configuration for audio output format.",
      "type": "object",
      "properties": {
        "mimeType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "MP3 audio format.",
            "OGG Opus audio format.",
            "Raw PCM (L16) audio format.",
            "WAV audio format.",
            "A-law audio format.",
            "Mu-law audio format."
          ],
          "description": "Optional. The MIME type of the audio output.",
          "type": "string",
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "AUDIO_MP3",
            "AUDIO_OGG_OPUS",
            "AUDIO_L16",
            "AUDIO_WAV",
            "AUDIO_ALAW",
            "AUDIO_MULAW"
          ]
        },
        "sampleRate": {
          "description": "Optional. Sample rate in Hz.",
          "type": "integer",
          "format": "int32"
        },
        "bitRate": {
          "description": "Optional. Bit rate in bits per second (bps). Only applicable for compressed formats (MP3, Opus).",
          "type": "integer",
          "format": "int32"
        },
        "delivery": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Audio data is returned inline in the response.",
            "Audio data is returned as a URI."
          ],
          "description": "Optional. The delivery mode for the audio output.",
          "type": "string",
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ]
        }
      }
    },
    "FunctionResponse": {
      "id": "FunctionResponse",
      "description": "The result output from a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model. This should contain the result of a`FunctionCall` made based on model prediction.",
      "type": "object",
      "properties": {
        "willContinue": {
          "description": "Optional. Signals that function call continues, and more responses will be returned, turning the function call into a generator. Is only applicable to NON_BLOCKING function calls, is ignored otherwise. If set to false, future responses will not be considered. It is allowed to return empty `response` with `will_continue=False` to signal that the function call is finished. This may still trigger the model generation. To avoid triggering the generation and finish the function call, additionally set `scheduling` to `SILENT`.",
          "type": "boolean"
        },
        "id": {
          "description": "Optional. The identifier of the function call this response is for. Populated by the client to match the corresponding function call `id`.",
          "type": "string"
        },
        "parts": {
          "description": "Optional. Ordered `Parts` that constitute a function response. Parts may have different IANA MIME types.",
          "type": "array",
          "items": {
            "$ref": "FunctionResponsePart"
          }
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Required. The function response in JSON object format. Callers can use any keys of their choice that fit the function's syntax to return the function output, e.g. \"output\", \"result\", etc. In particular, if the function call failed to execute, the response can have an \"error\" key to return error details to the model. Multimedia can be included by using a subobject containing a single \"$ref\" key whose value is the `inline_data.display_name` of a `FunctionResponsePart` holding the multimedia. See https://ai.google.dev/gemini-api/docs/function-calling#multimodal.",
          "type": "object"
        },
        "scheduling": {
          "enumDescriptions": [
            "This value is unused.",
            "Only add the result to the conversation context, do not interrupt or trigger generation.",
            "Add the result to the conversation context, and prompt to generate output without interrupting ongoing generation.",
            "Add the result to the conversation context, interrupt ongoing generation and prompt to generate output."
          ],
          "description": "Optional. Specifies how the response should be scheduled in the conversation. Only applicable to NON_BLOCKING function calls, is ignored otherwise. Defaults to WHEN_IDLE.",
          "type": "string",
          "enum": [
            "SCHEDULING_UNSPECIFIED",
            "SILENT",
            "WHEN_IDLE",
            "INTERRUPT"
          ]
        },
        "name": {
          "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 128.",
          "type": "string"
        }
      }
    },
    "UrlMetadata": {
      "id": "UrlMetadata",
      "description": "Context of the a single url retrieval.",
      "type": "object",
      "properties": {
        "urlRetrievalStatus": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Url retrieval is successful.",
            "Url retrieval is failed due to error.",
            "Url retrieval is failed because the content is behind paywall.",
            "Url retrieval is failed because the content is unsafe."
          ],
          "description": "Status of the url retrieval.",
          "type": "string",
          "enum": [
            "URL_RETRIEVAL_STATUS_UNSPECIFIED",
            "URL_RETRIEVAL_STATUS_SUCCESS",
            "URL_RETRIEVAL_STATUS_ERROR",
            "URL_RETRIEVAL_STATUS_PAYWALL",
            "URL_RETRIEVAL_STATUS_UNSAFE"
          ]
        },
        "retrievedUrl": {
          "description": "Retrieved url by the tool.",
          "type": "string"
        }
      }
    },
    "DiffChecksumsResponse": {
      "id": "DiffChecksumsResponse",
      "description": "Backend response for a Diff get checksums response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object",
      "properties": {
        "objectSizeBytes": {
          "description": "The total size of the server object.",
          "type": "string",
          "format": "int64"
        },
        "checksumsLocation": {
          "description": "Exactly one of these fields must be populated. If checksums_location is filled, the server will return the corresponding contents to the user. If object_location is filled, the server will calculate the checksums based on the content there and return that to the user. For details on the format of the checksums, see http://go/scotty-diff-protocol.",
          "$ref": "CompositeMedia"
        },
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "If set, calculate the checksums based on the contents and return them to the caller."
        },
        "objectVersion": {
          "description": "The object version of the object the checksums are being returned for.",
          "type": "string"
        },
        "chunkSizeBytes": {
          "description": "The chunk size of checksums. Must be a multiple of 256KB.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ModalityTokenCount": {
      "id": "ModalityTokenCount",
      "description": "Represents token counting info for a single modality.",
      "type": "object",
      "properties": {
        "modality": {
          "description": "The modality associated with this token count.",
          "type": "string",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "TEXT",
            "IMAGE",
            "VIDEO",
            "AUDIO",
            "DOCUMENT"
          ],
          "enumDescriptions": [
            "Unspecified modality.",
            "Plain text.",
            "Image.",
            "Video.",
            "Audio.",
            "Document, e.g. PDF."
          ]
        },
        "tokenCount": {
          "description": "Number of tokens.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListModelsResponse": {
      "id": "ListModelsResponse",
      "description": "Response from `ListModel` containing a paginated list of Models.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        },
        "models": {
          "description": "The returned Models.",
          "type": "array",
          "items": {
            "$ref": "Model"
          }
        }
      }
    },
    "SearchTypes": {
      "id": "SearchTypes",
      "description": "Different types of search that can be enabled on the GoogleSearch tool.",
      "type": "object",
      "properties": {
        "webSearch": {
          "description": "Optional. Enables web search. Only text results are returned.",
          "$ref": "WebSearch"
        },
        "imageSearch": {
          "$ref": "ImageSearch",
          "description": "Optional. Enables image search. Image bytes are returned."
        }
      }
    },
    "SemanticRetrieverChunk": {
      "id": "SemanticRetrieverChunk",
      "description": "Identifier for a `Chunk` retrieved via Semantic Retriever specified in the `GenerateAnswerRequest` using `SemanticRetrieverConfig`.",
      "type": "object",
      "properties": {
        "source": {
          "description": "Output only. Name of the source matching the request's `SemanticRetrieverConfig.source`. Example: `corpora/123` or `corpora/123/documents/abc`",
          "type": "string",
          "readOnly": true
        },
        "chunk": {
          "readOnly": true,
          "description": "Output only. Name of the `Chunk` containing the attributed text. Example: `corpora/123/documents/abc/chunks/xyz`",
          "type": "string"
        }
      }
    },
    "Part": {
      "id": "Part",
      "description": "A datatype containing media that is part of a multi-part `Content` message. A `Part` consists of data which has an associated datatype. A `Part` can only contain one of the accepted types in `Part.data`. A `Part` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes.",
      "type": "object",
      "properties": {
        "mediaResolution": {
          "description": "Optional. Media resolution for the input media.",
          "$ref": "MediaResolution"
        },
        "toolCall": {
          "$ref": "ToolCall",
          "description": "Server-side tool call. This field is populated when the model predicts a tool invocation that should be executed on the server. The client is expected to echo this message back to the API."
        },
        "partMetadata": {
          "description": "Custom metadata associated with the Part. Agents using genai.Part as content representation may need to keep track of the additional information. For example it can be name of a file/source from which the Part originates or a way to multiplex multiple Part streams.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "inlineData": {
          "$ref": "Blob",
          "description": "Inline media bytes."
        },
        "videoMetadata": {
          "description": "Optional. Video metadata. The metadata should only be specified while the video data is presented in inline_data or file_data.",
          "$ref": "VideoMetadata"
        },
        "functionResponse": {
          "description": "The result output of a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model.",
          "$ref": "FunctionResponse"
        },
        "fileData": {
          "$ref": "FileData",
          "description": "URI based data."
        },
        "toolResponse": {
          "$ref": "ToolResponse",
          "description": "The output from a server-side `ToolCall` execution. This field is populated by the client with the results of executing the corresponding `ToolCall`."
        },
        "text": {
          "description": "Inline text.",
          "type": "string"
        },
        "thought": {
          "description": "Optional. Indicates if the part is thought from the model.",
          "type": "boolean"
        },
        "executableCode": {
          "description": "Code generated by the model that is meant to be executed.",
          "$ref": "ExecutableCode"
        },
        "functionCall": {
          "$ref": "FunctionCall",
          "description": "A predicted `FunctionCall` returned from the model that contains a string representing the `FunctionDeclaration.name` with the arguments and their values."
        },
        "codeExecutionResult": {
          "description": "Result of executing the `ExecutableCode`.",
          "$ref": "CodeExecutionResult"
        },
        "thoughtSignature": {
          "description": "Optional. An opaque signature for the thought so it can be reused in subsequent requests.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "UrlContext": {
      "id": "UrlContext",
      "description": "Tool to support URL context retrieval.",
      "type": "object",
      "properties": {}
    },
    "ObjectId": {
      "id": "ObjectId",
      "description": "This is a copy of the tech.blob.ObjectId proto, which could not be used directly here due to transitive closure issues with JavaScript support; see http://b/8801763.",
      "type": "object",
      "properties": {
        "generation": {
          "description": "Generation of the object. Generations are monotonically increasing across writes, allowing them to be be compared to determine which generation is newer. If this is omitted in a request, then you are requesting the live object. See http://go/bigstore-versions",
          "type": "string",
          "format": "int64"
        },
        "bucketName": {
          "description": "The name of the bucket to which this object belongs.",
          "type": "string"
        },
        "objectName": {
          "description": "The name of the object.",
          "type": "string"
        }
      }
    },
    "TransferOwnershipResponse": {
      "id": "TransferOwnershipResponse",
      "description": "Response from `TransferOwnership`.",
      "type": "object",
      "properties": {}
    },
    "FileData": {
      "id": "FileData",
      "description": "URI based data.",
      "type": "object",
      "properties": {
        "fileUri": {
          "description": "Required. URI.",
          "type": "string"
        },
        "mimeType": {
          "description": "Optional. The IANA standard MIME type of the source data.",
          "type": "string"
        }
      }
    },
    "FileSearch": {
      "id": "FileSearch",
      "description": "The FileSearch tool that retrieves knowledge from Semantic Retrieval corpora. Files are imported to Semantic Retrieval corpora using the ImportFile API.",
      "type": "object",
      "properties": {
        "fileSearchStoreNames": {
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the file_search_stores to retrieve from. Example: `fileSearchStores/my-file-search-store-123`",
          "type": "array"
        },
        "topK": {
          "description": "Optional. The number of semantic retrieval chunks to retrieve.",
          "type": "integer",
          "format": "int32"
        },
        "metadataFilter": {
          "description": "Optional. Metadata filter to apply to the semantic retrieval documents and chunks.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "CodeExecution": {
      "id": "CodeExecution",
      "description": "Tool that executes code generated by the model, and automatically returns the result to the model. See also `ExecutableCode` and `CodeExecutionResult` which are only generated when using this tool.",
      "type": "object",
      "properties": {}
    },
    "SafetySetting": {
      "id": "SafetySetting",
      "description": "Safety setting, affecting the safety-blocking behavior. Passing a safety setting for a category changes the allowed probability that content is blocked.",
      "type": "object",
      "properties": {
        "category": {
          "enumDescriptions": [
            "Category is unspecified.",
            "**PaLM** - Negative or harmful comments targeting identity and/or protected attribute.",
            "**PaLM** - Content that is rude, disrespectful, or profane.",
            "**PaLM** - Describes scenarios depicting violence against an individual or group, or general descriptions of gore.",
            "**PaLM** - Contains references to sexual acts or other lewd content.",
            "**PaLM** - Promotes unchecked medical advice.",
            "**PaLM** - Dangerous content that promotes, facilitates, or encourages harmful acts.",
            "**Gemini** - Harassment content.",
            "**Gemini** - Hate speech and content.",
            "**Gemini** - Sexually explicit content.",
            "**Gemini** - Dangerous content.",
            "**Gemini** - Content that may be used to harm civic integrity. DEPRECATED: use enable_enhanced_civic_answers instead.",
            "**Gemini** - Prompts attempting to bypass or subvert the model's safety guidelines (jailbreak attempts)."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "description": "Required. The category for this setting.",
          "type": "string",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_DEROGATORY",
            "HARM_CATEGORY_TOXICITY",
            "HARM_CATEGORY_VIOLENCE",
            "HARM_CATEGORY_SEXUAL",
            "HARM_CATEGORY_MEDICAL",
            "HARM_CATEGORY_DANGEROUS",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_CIVIC_INTEGRITY",
            "HARM_CATEGORY_JAILBREAK"
          ]
        },
        "threshold": {
          "enumDescriptions": [
            "Threshold is unspecified.",
            "Content with NEGLIGIBLE will be allowed.",
            "Content with NEGLIGIBLE and LOW will be allowed.",
            "Content with NEGLIGIBLE, LOW, and MEDIUM will be allowed.",
            "All content will be allowed.",
            "Turn off the safety filter."
          ],
          "description": "Required. Controls the probability threshold at which harm is blocked.",
          "type": "string",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ]
        }
      }
    },
    "VideoFileMetadata": {
      "id": "VideoFileMetadata",
      "description": "Metadata for a video `File`.",
      "type": "object",
      "properties": {
        "videoDuration": {
          "description": "Duration of the video.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GroundingChunkCustomMetadata": {
      "id": "GroundingChunkCustomMetadata",
      "description": "User provided metadata about the GroundingFact.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The key of the metadata.",
          "type": "string"
        },
        "stringListValue": {
          "description": "Optional. A list of string values for the metadata.",
          "$ref": "GroundingChunkStringList"
        },
        "stringValue": {
          "description": "Optional. The string value of the metadata.",
          "type": "string"
        },
        "numericValue": {
          "description": "Optional. The numeric value of the metadata. The expected range for this value depends on the specific `key` used.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "TuningSnapshot": {
      "id": "TuningSnapshot",
      "description": "Record for a single tuning step.",
      "type": "object",
      "properties": {
        "step": {
          "description": "Output only. The tuning step.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "computeTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when this metric was computed.",
          "type": "string",
          "format": "google-datetime"
        },
        "meanLoss": {
          "readOnly": true,
          "description": "Output only. The mean loss of the training examples for this step.",
          "type": "number",
          "format": "float"
        },
        "epoch": {
          "description": "Output only. The epoch this step was part of.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      }
    },
    "InlinedRequest": {
      "id": "InlinedRequest",
      "description": "The request to be processed in the batch.",
      "type": "object",
      "properties": {
        "request": {
          "description": "Required. The request to be processed in the batch.",
          "$ref": "GenerateContentRequest"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The metadata to be associated with the request.",
          "type": "object"
        }
      }
    },
    "DiffUploadRequest": {
      "id": "DiffUploadRequest",
      "description": "A Diff upload request. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object",
      "properties": {
        "objectVersion": {
          "description": "The object version of the object that is the base version the incoming diff script will be applied to. This field will always be filled in.",
          "type": "string"
        },
        "objectInfo": {
          "$ref": "CompositeMedia",
          "description": "The location of the new object. Agents must clone the object located here, as the upload server will delete the contents once a response is received."
        },
        "checksumsInfo": {
          "$ref": "CompositeMedia",
          "description": "The location of the checksums for the new object. Agents must clone the object located here, as the upload server will delete the contents once a response is received. For details on the format of the checksums, see http://go/scotty-diff-protocol."
        }
      }
    },
    "Schema": {
      "id": "Schema",
      "description": "The `Schema` object allows the definition of input and output data types. These types can be objects, but also primitives and arrays. Represents a select subset of an [OpenAPI 3.0 schema object](https://spec.openapis.org/oas/v3.0.3#schema).",
      "type": "object",
      "properties": {
        "default": {
          "description": "Optional. Default value of the field. Per JSON Schema, this field is intended for documentation generators and doesn't affect validation. Thus it's included here and ignored so that developers who send schemas with a `default` field don't get unknown-field errors.",
          "type": "any"
        },
        "maxItems": {
          "description": "Optional. Maximum number of the elements for Type.ARRAY.",
          "type": "string",
          "format": "int64"
        },
        "title": {
          "description": "Optional. The title of the schema.",
          "type": "string"
        },
        "maxProperties": {
          "description": "Optional. Maximum number of the properties for Type.OBJECT.",
          "type": "string",
          "format": "int64"
        },
        "minItems": {
          "description": "Optional. Minimum number of the elements for Type.ARRAY.",
          "type": "string",
          "format": "int64"
        },
        "minimum": {
          "description": "Optional. SCHEMA FIELDS FOR TYPE INTEGER and NUMBER Minimum value of the Type.INTEGER and Type.NUMBER",
          "type": "number",
          "format": "double"
        },
        "example": {
          "description": "Optional. Example of the object. Will only populated when the object is the root.",
          "type": "any"
        },
        "properties": {
          "description": "Optional. Properties of Type.OBJECT.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "minProperties": {
          "description": "Optional. Minimum number of the properties for Type.OBJECT.",
          "type": "string",
          "format": "int64"
        },
        "enum": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Possible values of the element of Type.STRING with enum format. For example we can define an Enum Direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]}",
          "type": "array"
        },
        "minLength": {
          "description": "Optional. SCHEMA FIELDS FOR TYPE STRING Minimum length of the Type.STRING",
          "type": "string",
          "format": "int64"
        },
        "pattern": {
          "description": "Optional. Pattern of the Type.STRING to restrict a string to a regular expression.",
          "type": "string"
        },
        "anyOf": {
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list.",
          "type": "array",
          "items": {
            "$ref": "Schema"
          }
        },
        "type": {
          "enumDescriptions": [
            "Not specified, should not be used.",
            "String type.",
            "Number type.",
            "Integer type.",
            "Boolean type.",
            "Array type.",
            "Object type.",
            "Null type."
          ],
          "description": "Required. Data type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "INTEGER",
            "BOOLEAN",
            "ARRAY",
            "OBJECT",
            "NULL"
          ]
        },
        "format": {
          "description": "Optional. The format of the data. Any value is allowed, but most do not trigger any special functionality.",
          "type": "string"
        },
        "nullable": {
          "description": "Optional. Indicates if the value may be null.",
          "type": "boolean"
        },
        "maximum": {
          "description": "Optional. Maximum value of the Type.INTEGER and Type.NUMBER",
          "type": "number",
          "format": "double"
        },
        "maxLength": {
          "description": "Optional. Maximum length of the Type.STRING",
          "type": "string",
          "format": "int64"
        },
        "description": {
          "description": "Optional. A brief description of the parameter. This could contain examples of use. Parameter description may be formatted as Markdown.",
          "type": "string"
        },
        "items": {
          "$ref": "Schema",
          "description": "Optional. Schema of the elements of Type.ARRAY."
        },
        "propertyOrdering": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The order of the properties. Not a standard field in open api spec. Used to determine the order of the properties in the response.",
          "type": "array"
        },
        "required": {
          "description": "Optional. Required properties of Type.OBJECT.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PredictResponse": {
      "id": "PredictResponse",
      "description": "Response message for [PredictionService.Predict].",
      "type": "object",
      "properties": {
        "predictions": {
          "description": "The outputs of the prediction call.",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      }
    },
    "UploadToFileSearchStoreRequest": {
      "id": "UploadToFileSearchStoreRequest",
      "description": "Request for `UploadToFileSearchStore`.",
      "type": "object",
      "properties": {
        "customMetadata": {
          "description": "Custom metadata to be associated with the data.",
          "type": "array",
          "items": {
            "$ref": "CustomMetadata"
          }
        },
        "displayName": {
          "description": "Optional. Display name of the created document.",
          "type": "string"
        },
        "mimeType": {
          "description": "Optional. MIME type of the data. If not provided, it will be inferred from the uploaded content.",
          "type": "string"
        },
        "chunkingConfig": {
          "description": "Optional. Config for telling the service how to chunk the data. If not provided, the service will use default parameters.",
          "$ref": "ChunkingConfig"
        }
      }
    },
    "FunctionDeclaration": {
      "id": "FunctionDeclaration",
      "description": "Structured representation of a function declaration as defined by the [OpenAPI 3.03 specification](https://spec.openapis.org/oas/v3.0.3). Included in this declaration are the function name and parameters. This FunctionDeclaration is a representation of a block of code that can be used as a `Tool` by the model and executed by the client.",
      "type": "object",
      "properties": {
        "behavior": {
          "enumDescriptions": [
            "This value is unused.",
            "If set, the system will wait to receive the function response before continuing the conversation.",
            "If set, the system will not wait to receive the function response. Instead, it will attempt to handle function responses as they become available while maintaining the conversation between the user and the model."
          ],
          "description": "Optional. Specifies the function Behavior. Currently only supported by the BidiGenerateContent method.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "BLOCKING",
            "NON_BLOCKING"
          ]
        },
        "parameters": {
          "$ref": "Schema",
          "description": "Optional. Describes the parameters to this function. Reflects the Open API 3.03 Parameter Object string Key: the name of the parameter. Parameter names are case sensitive. Schema Value: the Schema defining the type used for the parameter."
        },
        "responseJsonSchema": {
          "description": "Optional. Describes the output from this function in JSON Schema format. The value specified by the schema is the response value of the function. This field is mutually exclusive with `response`.",
          "type": "any"
        },
        "name": {
          "description": "Required. The name of the function. Must be a-z, A-Z, 0-9, or contain underscores, colons, dots, and dashes, with a maximum length of 128.",
          "type": "string"
        },
        "parametersJsonSchema": {
          "description": "Optional. Describes the parameters to the function in JSON Schema format. The schema must describe an object where the properties are the parameters to the function. For example: ``` { \"type\": \"object\", \"properties\": { \"name\": { \"type\": \"string\" }, \"age\": { \"type\": \"integer\" } }, \"additionalProperties\": false, \"required\": [\"name\", \"age\"], \"propertyOrdering\": [\"name\", \"age\"] } ``` This field is mutually exclusive with `parameters`.",
          "type": "any"
        },
        "description": {
          "description": "Required. A brief description of the function.",
          "type": "string"
        },
        "response": {
          "$ref": "Schema",
          "description": "Optional. Describes the output from this function in JSON Schema format. Reflects the Open API 3.03 Response Object. The Schema defines the type used for the response value of the function."
        }
      }
    },
    "GenerateTextResponse": {
      "id": "GenerateTextResponse",
      "description": "The response from the model, including candidate completions.",
      "type": "object",
      "properties": {
        "filters": {
          "items": {
            "$ref": "ContentFilter"
          },
          "description": "A set of content filtering metadata for the prompt and response text. This indicates which `SafetyCategory`(s) blocked a candidate from this response, the lowest `HarmProbability` that triggered a block, and the HarmThreshold setting for that category. This indicates the smallest change to the `SafetySettings` that would be necessary to unblock at least 1 response. The blocking is configured by the `SafetySettings` in the request (or the default `SafetySettings` of the API).",
          "type": "array"
        },
        "candidates": {
          "description": "Candidate responses from the model.",
          "type": "array",
          "items": {
            "$ref": "TextCompletion"
          }
        },
        "safetyFeedback": {
          "items": {
            "$ref": "SafetyFeedback"
          },
          "description": "Returns any safety feedback related to content filtering.",
          "type": "array"
        }
      }
    },
    "GenerateAnswerResponse": {
      "id": "GenerateAnswerResponse",
      "description": "Response from the model for a grounded answer.",
      "type": "object",
      "properties": {
        "answerableProbability": {
          "readOnly": true,
          "description": "Output only. The model's estimate of the probability that its answer is correct and grounded in the input passages. A low `answerable_probability` indicates that the answer might not be grounded in the sources. When `answerable_probability` is low, you may want to: * Display a message to the effect of \"We couldn’t answer that question\" to the user. * Fall back to a general-purpose LLM that answers the question from world knowledge. The threshold and nature of such fallbacks will depend on individual use cases. `0.5` is a good starting threshold.",
          "type": "number",
          "format": "float"
        },
        "answer": {
          "description": "Candidate answer from the model. Note: The model *always* attempts to provide a grounded answer, even when the answer is unlikely to be answerable from the given passages. In that case, a low-quality or ungrounded answer may be provided, along with a low `answerable_probability`.",
          "$ref": "Candidate"
        },
        "inputFeedback": {
          "description": "Output only. Feedback related to the input data used to answer the question, as opposed to the model-generated response to the question. The input data can be one or more of the following: - Question specified by the last entry in `GenerateAnswerRequest.content` - Conversation history specified by the other entries in `GenerateAnswerRequest.content` - Grounding sources (`GenerateAnswerRequest.semantic_retriever` or `GenerateAnswerRequest.inline_passages`)",
          "$ref": "InputFeedback",
          "readOnly": true
        }
      }
    },
    "DynamicRetrievalConfig": {
      "id": "DynamicRetrievalConfig",
      "description": "Describes the options to customize dynamic retrieval.",
      "type": "object",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Always trigger retrieval.",
            "Run retrieval only when system decides it is necessary."
          ],
          "description": "The mode of the predictor to be used in dynamic retrieval.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "MODE_DYNAMIC"
          ]
        },
        "dynamicThreshold": {
          "description": "The threshold to be used in dynamic retrieval. If not set, a system default value is used.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "ImageConfig": {
      "id": "ImageConfig",
      "description": "Config for image generation features.",
      "type": "object",
      "properties": {
        "aspectRatio": {
          "description": "Optional. The aspect ratio of the image to generate. Supported aspect ratios: `1:1`, `1:4`, `4:1`, `1:8`, `8:1`, `2:3`, `3:2`, `3:4`, `4:3`, `4:5`, `5:4`, `9:16`, `16:9`, or `21:9`. If not specified, the model will choose a default aspect ratio based on any reference images provided.",
          "type": "string"
        },
        "imageSize": {
          "description": "Optional. Specifies the size of generated images. Supported values are `512`, `1K`, `2K`, `4K`. If not specified, the model will use default value `1K`.",
          "type": "string"
        }
      }
    },
    "EmbedContentConfig": {
      "id": "EmbedContentConfig",
      "description": "Configurations for the EmbedContent request.",
      "type": "object",
      "properties": {
        "autoTruncate": {
          "description": "Optional. Whether to silently truncate the input content if it's longer than the maximum sequence length.",
          "type": "boolean"
        },
        "title": {
          "description": "Optional. The title for the text.",
          "type": "string"
        },
        "taskType": {
          "enumDescriptions": [
            "Unset value, which will default to one of the other enum values.",
            "Specifies the given text is a query in a search/retrieval setting.",
            "Specifies the given text is a document from the corpus being searched.",
            "Specifies the given text will be used for STS.",
            "Specifies that the given text will be classified.",
            "Specifies that the embeddings will be used for clustering.",
            "Specifies that the given text will be used for question answering.",
            "Specifies that the given text will be used for fact verification.",
            "Specifies that the given text will be used for code retrieval."
          ],
          "description": "Optional. The task type of the embedding.",
          "type": "string",
          "enum": [
            "TASK_TYPE_UNSPECIFIED",
            "RETRIEVAL_QUERY",
            "RETRIEVAL_DOCUMENT",
            "SEMANTIC_SIMILARITY",
            "CLASSIFICATION",
            "CLUSTERING",
            "QUESTION_ANSWERING",
            "FACT_VERIFICATION",
            "CODE_RETRIEVAL_QUERY"
          ]
        },
        "outputDimensionality": {
          "description": "Optional. Reduced dimension for the output embedding. If set, excessive values in the output embedding are truncated from the end.",
          "type": "integer",
          "format": "int32"
        },
        "documentOcr": {
          "description": "Optional. Whether to enable OCR for document content.",
          "type": "boolean"
        },
        "audioTrackExtraction": {
          "description": "Optional. Whether to extract audio from video content.",
          "type": "boolean"
        }
      }
    },
    "FileSearchStore": {
      "id": "FileSearchStore",
      "description": "A `FileSearchStore` is a collection of `Document`s.",
      "type": "object",
      "properties": {
        "sizeBytes": {
          "description": "Output only. The size of raw bytes ingested into the `FileSearchStore`. This is the total size of all the documents in the `FileSearchStore`.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The Timestamp of when the `FileSearchStore` was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Immutable. Identifier. The `FileSearchStore` resource name. It is an ID (name excluding the \"fileSearchStores/\" prefix) that can contain up to 40 characters that are lowercase alphanumeric or dashes (-). It is output only. The unique name will be derived from `display_name` along with a 12 character random suffix. Example: `fileSearchStores/my-awesome-file-search-store-123a456b789c` If `display_name` is not provided, the name will be randomly generated.",
          "type": "string"
        },
        "embeddingModel": {
          "description": "Optional. The embedding model to use for the `FileSearchStore`. The model's resource name. This serves as an ID for the Model to use. Format: `models/{model}`. If not specified, the default embedding model will be used.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The human-readable display name for the `FileSearchStore`. The display name must be no more than 512 characters in length, including spaces. Example: \"Docs on Semantic Retriever\"",
          "type": "string"
        },
        "pendingDocumentsCount": {
          "description": "Output only. The number of documents in the `FileSearchStore` that are being processed.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The Timestamp of when the `FileSearchStore` was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "activeDocumentsCount": {
          "readOnly": true,
          "description": "Output only. The number of documents in the `FileSearchStore` that are active and ready for retrieval.",
          "type": "string",
          "format": "int64"
        },
        "failedDocumentsCount": {
          "readOnly": true,
          "description": "Output only. The number of documents in the `FileSearchStore` that have failed processing.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "InlinedResponses": {
      "id": "InlinedResponses",
      "description": "The responses to the requests in the batch.",
      "type": "object",
      "properties": {
        "inlinedResponses": {
          "readOnly": true,
          "items": {
            "$ref": "InlinedResponse"
          },
          "description": "Output only. The responses to the requests in the batch.",
          "type": "array"
        }
      }
    },
    "PrebuiltVoiceConfig": {
      "id": "PrebuiltVoiceConfig",
      "description": "The configuration for the prebuilt speaker to use.",
      "type": "object",
      "properties": {
        "voiceName": {
          "description": "The name of the preset voice to use.",
          "type": "string"
        }
      }
    },
    "PromptFeedback": {
      "id": "PromptFeedback",
      "description": "A set of the feedback metadata the prompt specified in `GenerateContentRequest.content`.",
      "type": "object",
      "properties": {
        "blockReason": {
          "description": "Optional. If set, the prompt was blocked and no candidates are returned. Rephrase the prompt.",
          "type": "string",
          "enum": [
            "BLOCK_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "IMAGE_SAFETY"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Prompt was blocked due to safety reasons. Inspect `safety_ratings` to understand which safety category blocked it.",
            "Prompt was blocked due to unknown reasons.",
            "Prompt was blocked due to the terms which are included from the terminology blocklist.",
            "Prompt was blocked due to prohibited content.",
            "Candidates blocked due to unsafe image generation content."
          ]
        },
        "safetyRatings": {
          "description": "Ratings for safety of the prompt. There is at most one rating per category.",
          "type": "array",
          "items": {
            "$ref": "SafetyRating"
          }
        }
      }
    },
    "SafetyRating": {
      "id": "SafetyRating",
      "description": "Safety rating for a piece of content. The safety rating contains the category of harm and the harm probability level in that category for a piece of content. Content is classified for safety across a number of harm categories and the probability of the harm classification is included here.",
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_DEROGATORY",
            "HARM_CATEGORY_TOXICITY",
            "HARM_CATEGORY_VIOLENCE",
            "HARM_CATEGORY_SEXUAL",
            "HARM_CATEGORY_MEDICAL",
            "HARM_CATEGORY_DANGEROUS",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_CIVIC_INTEGRITY",
            "HARM_CATEGORY_JAILBREAK"
          ],
          "description": "Required. The category for this rating.",
          "enumDescriptions": [
            "Category is unspecified.",
            "**PaLM** - Negative or harmful comments targeting identity and/or protected attribute.",
            "**PaLM** - Content that is rude, disrespectful, or profane.",
            "**PaLM** - Describes scenarios depicting violence against an individual or group, or general descriptions of gore.",
            "**PaLM** - Contains references to sexual acts or other lewd content.",
            "**PaLM** - Promotes unchecked medical advice.",
            "**PaLM** - Dangerous content that promotes, facilitates, or encourages harmful acts.",
            "**Gemini** - Harassment content.",
            "**Gemini** - Hate speech and content.",
            "**Gemini** - Sexually explicit content.",
            "**Gemini** - Dangerous content.",
            "**Gemini** - Content that may be used to harm civic integrity. DEPRECATED: use enable_enhanced_civic_answers instead.",
            "**Gemini** - Prompts attempting to bypass or subvert the model's safety guidelines (jailbreak attempts)."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ]
        },
        "blocked": {
          "description": "Was this content blocked because of this rating?",
          "type": "boolean"
        },
        "probability": {
          "description": "Required. The probability of harm for this content.",
          "type": "string",
          "enum": [
            "HARM_PROBABILITY_UNSPECIFIED",
            "NEGLIGIBLE",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "Probability is unspecified.",
            "Content has a negligible chance of being unsafe.",
            "Content has a low chance of being unsafe.",
            "Content has a medium chance of being unsafe.",
            "Content has a high chance of being unsafe."
          ]
        }
      }
    },
    "BatchEmbedContentsResponse": {
      "id": "BatchEmbedContentsResponse",
      "description": "The response to a `BatchEmbedContentsRequest`.",
      "type": "object",
      "properties": {
        "embeddings": {
          "readOnly": true,
          "items": {
            "$ref": "ContentEmbedding"
          },
          "description": "Output only. The embeddings for each request, in the same order as provided in the batch request.",
          "type": "array"
        },
        "usageMetadata": {
          "description": "Output only. The usage metadata for the request.",
          "readOnly": true,
          "$ref": "EmbeddingUsageMetadata"
        }
      }
    },
    "StreamableHttpTransport": {
      "id": "StreamableHttpTransport",
      "description": "A transport that can stream HTTP requests and responses. Next ID: 6",
      "type": "object",
      "properties": {
        "sseReadTimeout": {
          "description": "Timeout for SSE read operations.",
          "type": "string",
          "format": "google-duration"
        },
        "headers": {
          "description": "Optional: Fields for authentication headers, timeouts, etc., if needed.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "url": {
          "description": "The full URL for the MCPServer endpoint. Example: \"https://api.example.com/mcp\"",
          "type": "string"
        },
        "timeout": {
          "description": "HTTP timeout for regular operations.",
          "type": "string",
          "format": "google-duration"
        },
        "terminateOnClose": {
          "description": "Whether to close the client session when the transport closes.",
          "type": "boolean"
        }
      }
    },
    "ImportFileRequest": {
      "id": "ImportFileRequest",
      "description": "Request for `ImportFile` to import a File API file with a `FileSearchStore`.",
      "type": "object",
      "properties": {
        "fileName": {
          "description": "Required. The name of the `File` to import. Example: `files/abc-123`",
          "type": "string"
        },
        "customMetadata": {
          "description": "Custom metadata to be associated with the file.",
          "type": "array",
          "items": {
            "$ref": "CustomMetadata"
          }
        },
        "chunkingConfig": {
          "$ref": "ChunkingConfig",
          "description": "Optional. Config for telling the service how to chunk the file. If not provided, the service will use default parameters."
        }
      }
    },
    "WebSearch": {
      "id": "WebSearch",
      "description": "Standard web search for grounding and related configurations.",
      "type": "object",
      "properties": {}
    },
    "SpeakerVoiceConfig": {
      "id": "SpeakerVoiceConfig",
      "description": "The configuration for a single speaker in a multi speaker setup.",
      "type": "object",
      "properties": {
        "speaker": {
          "description": "Required. The name of the speaker to use. Should be the same as in the prompt.",
          "type": "string"
        },
        "voiceConfig": {
          "$ref": "VoiceConfig",
          "description": "Required. The configuration for the voice to use."
        }
      }
    },
    "Image": {
      "id": "Image",
      "description": "Chunk from image search.",
      "type": "object",
      "properties": {
        "imageUri": {
          "description": "The image asset URL.",
          "type": "string"
        },
        "domain": {
          "description": "The root domain of the web page that the image is from, e.g. \"example.com\".",
          "type": "string"
        },
        "sourceUri": {
          "description": "The web page URI for attribution.",
          "type": "string"
        },
        "title": {
          "description": "The title of the web page that the image is from.",
          "type": "string"
        }
      }
    },
    "Blobstore2Info": {
      "id": "Blobstore2Info",
      "description": "Information to read/write to blobstore2.",
      "type": "object",
      "properties": {
        "readToken": {
          "description": "The blob read token. Needed to read blobs that have not been replicated. Might not be available until the final call.",
          "type": "string"
        },
        "blobGeneration": {
          "description": "The blob generation id.",
          "type": "string",
          "format": "int64"
        },
        "downloadReadHandle": {
          "description": "Read handle passed from Bigstore -\u003e Scotty for a GCS download. This is a signed, serialized blobstore2.ReadHandle proto which must never be set outside of Bigstore, and is not applicable to non-GCS media downloads.",
          "type": "string",
          "format": "byte"
        },
        "blobId": {
          "description": "The blob id, e.g., /blobstore/prod/playground/scotty",
          "type": "string"
        },
        "uploadMetadataContainer": {
          "description": "Metadata passed from Blobstore -\u003e Scotty for a new GCS upload. This is a signed, serialized blobstore2.BlobMetadataContainer proto which must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "type": "string",
          "format": "byte"
        },
        "downloadExternalReadToken": {
          "description": "A serialized External Read Token passed from Bigstore -\u003e Scotty for a GCS download. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "type": "string",
          "format": "byte"
        },
        "uploadFragmentListCreationInfo": {
          "description": "A serialized Object Fragment List Creation Info passed from Bigstore -\u003e Scotty for a GCS upload. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "CustomMetadata": {
      "id": "CustomMetadata",
      "description": "User provided metadata stored as key-value pairs.",
      "type": "object",
      "properties": {
        "stringListValue": {
          "$ref": "StringList",
          "description": "The StringList value of the metadata to store."
        },
        "key": {
          "description": "Required. The key of the metadata to store.",
          "type": "string"
        },
        "stringValue": {
          "description": "The string value of the metadata to store.",
          "type": "string"
        },
        "numericValue": {
          "description": "The numeric value of the metadata to store.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "ImageSearch": {
      "id": "ImageSearch",
      "description": "Image search for grounding and related configurations.",
      "type": "object",
      "properties": {}
    },
    "SlidingWindow": {
      "id": "SlidingWindow",
      "description": "The SlidingWindow method operates by discarding content at the beginning of the context window. The resulting context will always begin at the start of a USER role turn. System instructions and any `BidiGenerateContentSetup.prefix_turns` will always remain at the beginning of the result.",
      "type": "object",
      "properties": {
        "targetTokens": {
          "description": "The target number of tokens to keep. The default value is trigger_tokens/2. Discarding parts of the context window causes a temporary latency increase so this value should be calibrated to avoid frequent compression operations.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RealtimeInputConfig": {
      "id": "RealtimeInputConfig",
      "description": "Configures the realtime input behavior in `BidiGenerateContent`.",
      "type": "object",
      "properties": {
        "activityHandling": {
          "enumDescriptions": [
            "If unspecified, the default behavior is `START_OF_ACTIVITY_INTERRUPTS`.",
            "If true, start of activity will interrupt the model's response (also called \"barge in\"). The model's current response will be cut-off in the moment of the interruption. This is the default behavior.",
            "The model's response will not be interrupted."
          ],
          "description": "Optional. Defines what effect activity has.",
          "type": "string",
          "enum": [
            "ACTIVITY_HANDLING_UNSPECIFIED",
            "START_OF_ACTIVITY_INTERRUPTS",
            "NO_INTERRUPTION"
          ]
        },
        "automaticActivityDetection": {
          "$ref": "AutomaticActivityDetection",
          "description": "Optional. If not set, automatic activity detection is enabled by default. If automatic voice detection is disabled, the client must send activity signals."
        },
        "turnCoverage": {
          "description": "Optional. Defines which input is included in the user's turn.",
          "type": "string",
          "enum": [
            "TURN_COVERAGE_UNSPECIFIED",
            "TURN_INCLUDES_ONLY_ACTIVITY",
            "TURN_INCLUDES_ALL_INPUT",
            "TURN_INCLUDES_AUDIO_ACTIVITY_AND_ALL_VIDEO"
          ],
          "enumDescriptions": [
            "If unspecified, a default behavior is selected based on the model. E.g., for Gemini 2.5, the default is `TURN_INCLUDES_ONLY_ACTIVITY`, while for Gemini 3.1 and onwards, it's `TURN_INCLUDES_AUDIO_ACTIVITY_AND_ALL_VIDEO`.",
            "Includes activity since the last turn, excluding inactivity (e.g. silence on the audio stream).",
            "Includes all realtime input since the last turn, including inactivity (e.g. silence on the audio stream).",
            "Includes audio activity and all video since the last turn. With automatic activity detection, audio activity means speech and excludes silence."
          ]
        }
      }
    },
    "DownloadParameters": {
      "id": "DownloadParameters",
      "description": "Parameters specific to media downloads.",
      "type": "object",
      "properties": {
        "allowGzipCompression": {
          "description": "A boolean to be returned in the response to Scotty. Allows/disallows gzip encoding of the payload content when the server thinks it's advantageous (hence, does not guarantee compression) which allows Scotty to GZip the response to the client.",
          "type": "boolean"
        },
        "ignoreRange": {
          "description": "Determining whether or not Apiary should skip the inclusion of any Content-Range header on its response to Scotty.",
          "type": "boolean"
        }
      }
    },
    "MultiSpeakerVoiceConfig": {
      "id": "MultiSpeakerVoiceConfig",
      "description": "The configuration for the multi-speaker setup.",
      "type": "object",
      "properties": {
        "speakerVoiceConfigs": {
          "description": "Required. All the enabled speaker voices.",
          "type": "array",
          "items": {
            "$ref": "SpeakerVoiceConfig"
          }
        }
      }
    },
    "TextCompletion": {
      "id": "TextCompletion",
      "description": "Output text returned from a model.",
      "type": "object",
      "properties": {
        "citationMetadata": {
          "$ref": "CitationMetadata",
          "readOnly": true,
          "description": "Output only. Citation information for model-generated `output` in this `TextCompletion`. This field may be populated with attribution information for any text included in the `output`."
        },
        "safetyRatings": {
          "items": {
            "$ref": "SafetyRating"
          },
          "description": "Ratings for the safety of a response. There is at most one rating per category.",
          "type": "array"
        },
        "output": {
          "readOnly": true,
          "description": "Output only. The generated text returned from the model.",
          "type": "string"
        }
      }
    },
    "InlinedEmbedContentRequest": {
      "id": "InlinedEmbedContentRequest",
      "description": "The request to be processed in the batch.",
      "type": "object",
      "properties": {
        "request": {
          "$ref": "EmbedContentRequest",
          "description": "Required. The request to be processed in the batch."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The metadata to be associated with the request.",
          "type": "object"
        }
      }
    },
    "VideoMetadata": {
      "id": "VideoMetadata",
      "type": "object",
      "deprecated": true,
      "description": "Deprecated: Use `GenerateContentRequest.processing_options` instead. Metadata describes the input video content.",
      "properties": {
        "endOffset": {
          "description": "Optional. The end offset of the video.",
          "type": "string",
          "format": "google-duration"
        },
        "fps": {
          "description": "Optional. The frame rate of the video sent to the model. If not specified, the default value will be 1.0. The fps range is (0.0, 24.0].",
          "type": "number",
          "format": "double"
        },
        "startOffset": {
          "description": "Optional. The start offset of the video.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "CountTextTokensResponse": {
      "id": "CountTextTokensResponse",
      "description": "A response from `CountTextTokens`. It returns the model's `token_count` for the `prompt`.",
      "type": "object",
      "properties": {
        "tokenCount": {
          "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GenerateMessageResponse": {
      "id": "GenerateMessageResponse",
      "description": "The response from the model. This includes candidate messages and conversation history in the form of chronologically-ordered messages.",
      "type": "object",
      "properties": {
        "filters": {
          "items": {
            "$ref": "ContentFilter"
          },
          "description": "A set of content filtering metadata for the prompt and response text. This indicates which `SafetyCategory`(s) blocked a candidate from this response, the lowest `HarmProbability` that triggered a block, and the HarmThreshold setting for that category.",
          "type": "array"
        },
        "candidates": {
          "description": "Candidate response messages from the model.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "messages": {
          "description": "The conversation history used by the model.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        }
      }
    },
    "GoogleAiGenerativelanguageV1betaSegment": {
      "id": "GoogleAiGenerativelanguageV1betaSegment",
      "description": "Segment of the content.",
      "type": "object",
      "properties": {
        "partIndex": {
          "description": "The index of a Part object within its parent Content object.",
          "type": "integer",
          "format": "int32"
        },
        "text": {
          "description": "The text corresponding to the segment from the response.",
          "type": "string"
        },
        "startIndex": {
          "description": "Start index in the given Part, measured in bytes. Offset from the start of the Part, inclusive, starting at zero.",
          "type": "integer",
          "format": "int32"
        },
        "endIndex": {
          "description": "End index in the given Part, measured in bytes. Offset from the start of the Part, exclusive, starting at zero.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "EmbeddingUsageMetadata": {
      "id": "EmbeddingUsageMetadata",
      "description": "Metadata on the usage of the embedding request.",
      "type": "object",
      "properties": {
        "promptTokenDetails": {
          "description": "Output only. List of modalities that were processed in the request input.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ModalityTokenCount"
          }
        },
        "promptTokenCount": {
[...]
