BasedOnStyle: Google
Standard: Cpp11
ColumnLimit: 80
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
SpacesInContainerLiterals: true
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: None
IncludeBlocks: Preserve
