<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406105106669-8g3nq66g0pkser1rj207gs6ba78tbtei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406105106669-8g3nq66g0pkser1rj207gs6ba78tbtei</string>
	<key>API_KEY</key>
	<string>AIzaSyAx-FNaX9sW9M03lXD5pcfY64dWNFPgjBI</string>
	<key>GCM_SENDER_ID</key>
	<string>406105106669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.FirestoreSample</string>
	<key>PROJECT_ID</key>
	<string>fir-firestore-sample-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-firestore-sample-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406105106669:ios:d8889321a6b4273f4644e4</string>
</dict>
</plist>