// Copyright 2026 Google LLC
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

{% import 'macros.jinja' as m %}
import Foundation
{% if uses_shared_data_models and shared_models_target %}
{{ m.qualified_import(shared_models_target, access_level) }}
{% endif %}

{% if namespace %}
extension {{ namespace }} {
{% endif %}
  {% if description %}
{{ description | docc(2) }}
  {% endif %}
  {% if is_deprecated %}
  @available(*, deprecated)
  {% endif %}
  {{ access_level }} struct {{ name }}: Codable, Sendable, Equatable, Hashable, Buildable {
    {% for prop in properties %}
    {% if not loop.first %}

    {% endif %}
    {% if prop.description %}
{{ prop.description | docc(4) }}
    {% endif %}
    {% if prop.is_deprecated %}
    @available(*, deprecated)
    {% endif %}
    {% if prop.is_const %}
    {{ access_level }} var {{ prop.swift_name }}: {{ prop.swift_type }} = {{ prop.const_value }}
    {% else %}
    {{ access_level }} var {{ prop.swift_name }}: {{ prop.swift_type }}?
    {% endif %}
    {% endfor %}
    {% if has_oneof %}
    {% if properties %}

    {% endif %}
    {{ access_level }} enum {{ oneof_name }}: Sendable, Equatable, Hashable {
      {% for prop in oneof_properties %}
      case {{ prop.swift_name }}({{ prop.swift_type }})
      {% endfor %}
      case unrecognized([String: JSONValue])
    }

    {{ access_level }} var data: {{ oneof_name }}?
    {% endif %}
    {% if properties or has_oneof %}

    {% endif %}
    /// Initializes a new `{{ name }}`.
    {{ access_level }} init() {}
    {% if properties or has_oneof %}

    enum CodingKeys: String, CodingKey {
      {% for prop in properties %}
      case {{ prop.swift_name }}{{ ' = "' ~ prop.json_name ~ '"' if prop.needs_explicit_coding_key else '' }}
      {% endfor %}
      {% if has_oneof %}
      {% for prop in oneof_properties %}
      case {{ prop.swift_name }}{{ ' = "' ~ prop.json_name ~ '"' if prop.needs_explicit_coding_key else '' }}
      {% endfor %}
      {% endif %}
    }
    {% endif %}
    {% if has_oneof %}

    private struct DynamicCodingKey: CodingKey {
      var stringValue: String
      var intValue: Int? { nil }
      init?(stringValue: String) { self.stringValue = stringValue }
      init?(intValue: Int) { nil }
    }

    {{ access_level }} init(from decoder: any Decoder) throws {
      let container = try decoder.container(keyedBy: CodingKeys.self)
      {% for prop in properties %}
      {% if prop.is_const %}
      self.{{ prop.swift_name }} = (try container.decodeIfPresent({{ prop.swift_type }}.self, forKey: .{{ prop.swift_name }})) ?? {{ prop.const_value }}
      {% else %}
      self.{{ prop.swift_name }} = try container.decodeIfPresent({{ prop.swift_type }}.self, forKey: .{{ prop.swift_name }})
      {% endif %}
      {% endfor %}

      {% for prop in oneof_properties %}
      {% if loop.first %}if{% else %}else if{% endif %} let {{ prop.swift_name }} = try container.decodeIfPresent({{ prop.swift_type }}.self, forKey: .{{ prop.swift_name }}) {
        self.data = .{{ prop.swift_name }}({{ prop.swift_name }})
      }
      {% endfor %}
      {% if oneof_properties %}else {% endif %}{
        let dynamicContainer = try decoder.container(keyedBy: DynamicCodingKey.self)
        var unrecognizedFields = [String: JSONValue]()
        for key in dynamicContainer.allKeys {
          if CodingKeys(stringValue: key.stringValue) == nil,
             let value = try? dynamicContainer.decode(JSONValue.self, forKey: key) {
            unrecognizedFields[key.stringValue] = value
          }
        }
        self.data = unrecognizedFields.isEmpty ? nil : .unrecognized(unrecognizedFields)
      }
    }

    {{ access_level }} func encode(to encoder: any Encoder) throws {
      var container = encoder.container(keyedBy: CodingKeys.self)
      {% for prop in properties %}
      try container.encodeIfPresent({{ prop.swift_name }}, forKey: .{{ prop.swift_name }})
      {% endfor %}

      switch data {
      case .none: break
      {% for prop in oneof_properties %}
      case let .{{ prop.swift_name }}(val): try container.encode(val, forKey: .{{ prop.swift_name }})
      {% endfor %}
      case let .unrecognized(unrecognizedFields):
        var dynamicContainer = encoder.container(keyedBy: DynamicCodingKey.self)
        for (key, value) in unrecognizedFields {
          if let codingKey = DynamicCodingKey(stringValue: key) {
            try dynamicContainer.encode(value, forKey: codingKey)
          }
        }
      }
    }
    {% endif %}
  }
{% if namespace %}
}
{% endif %}
