<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7tdpgGmT00k9z_TYhVNl4q5M-_y2CGt4</string>
	<key>GCM_SENDER_ID</key>
	<string>1059792144772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.FirebaseSDKTests</string>
	<key>PROJECT_ID</key>
	<string>firestore-logical-termination4</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-logical-termination4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059792144772:ios:0da41387d2b606d775b5d1</string>
</dict>
</plist>