<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791224220659-s32obieg320nh0asd66domjtjpdpfsv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791224220659-s32obieg320nh0asd66domjtjpdpfsv8</string>
	<key>API_KEY</key>
	<string>AIzaSyD4YPmb0v2vsa1Ja3hFhN84hFgQ0UcrGzs</string>
	<key>GCM_SENDER_ID</key>
	<string>791224220659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.Firestore-example</string>
	<key>PROJECT_ID</key>
	<string>chenbrian-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>chenbrian-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791224220659:ios:2b64169fb6d47da1</string>
	<key>DATABASE_URL</key>
	<string>https://chenbrian-ios.firebaseio.com</string>
</dict>
</plist>