name: abtesting

on:
  workflow_dispatch:
  pull_request:
    paths:
    - 'FirebaseABTesting**'
    - 'Interop/Analytics/Public/*.h'
    - '.github/workflows/abtesting.yml'
    - 'Gemfile*'
  schedule:
    # Run every day at 1am(PST) - cron uses UTC times
    - cron: '0 9 * * *'

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
    cancel-in-progress: true

jobs:
  spm:
    uses: ./.github/workflows/common.yml
    with:
      target: ABTestingUnit
#  pod-lib-lint:
#    # Don't run on private repo unless it is a PR.
#    if: (github.repository == 'Firebase/firebase-ios-sdk' && github.event_name == 'schedule') || github.event_name == 'pull_request'
#
#    strategy:
#      matrix:
#        include:
#          - os: macos-14
#            xcode: Xcode_16.2
#            target: ios
#          - os: macos-15
#            xcode: Xcode_16.2
#            target: ios
#          - os: macos-15
#            xcode: Xcode_16.2
#            target: tvos
#          - os: macos-15
#            xcode: Xcode_16.2
#            target: macos
#          - os: macos-15
#            xcode: Xcode_16.2
#            target: watchos
#    runs-on: ${{ matrix.os }}
#    steps:
#    - uses: actions/checkout@v4
#    - uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252 # v1
#    - name: Setup Bundler
#      run: scripts/setup_bundler.sh
#    - name: Xcode
#      run: sudo xcode-select -s /Applications/${{ matrix.xcode }}.app/Contents/Developer
#    - uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3
#      with:
#        timeout_minutes: 120
#        max_attempts: 3
#        retry_on: error
#        retry_wait_seconds: 120
#        command: scripts/pod_lib_lint.rb FirebaseABTesting.podspec --platforms=${{ matrix.target }}

#  catalyst:
#    # Don't run on private repo unless it is a PR.
#    if: (github.repository == 'Firebase/firebase-ios-sdk' && github.event_name == 'schedule') || github.event_name == 'pull_request'
#
#    runs-on: macos-15
#    steps:
#    - uses: actions/checkout@v4
#    - uses: mikehardy/buildcache-action@c87cea0ccd718971d6cc39e672c4f26815b6c126
#      with:
#        cache_key: catalyst${{ matrix.os }}
#    - uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252 # v1
#    - name: Setup Bundler
#      run: scripts/setup_bundler.sh
#    - name: Xcode
#      run: sudo xcode-select -s /Applications/Xcode_16.2.app/Contents/Developer
#    - uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3
#      with:
#        timeout_minutes: 120
#        max_attempts: 3
#        retry_on: error
#        retry_wait_seconds: 120
#        command: scripts/test_catalyst.sh FirebaseABTesting test FirebaseABTesting-Unit-unit
#
#  quickstart:
#    # Don't run on private repo unless it is a PR.
#    if: (github.repository == 'Firebase/firebase-ios-sdk' && github.event_name == 'schedule') || github.event_name == 'pull_request'
#
#    env:
#      plist_secret: ${{ secrets.GHASecretsGPGPassphrase1 }}
#      signin_secret: ${{ secrets.GHASecretsGPGPassphrase1 }}
#    runs-on: macos-15
#    steps:
#    - uses: actions/checkout@v4
#    - uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252 # v1
#    - name: Xcode
#      run: sudo xcode-select -s /Applications/Xcode_16.2.app/Contents/Developer
#    - name: Setup quickstart
#      env:
#        LEGACY: true
#      run: scripts/setup_quickstart.sh abtesting
#    - name: Install Secret GoogleService-Info.plist
#      run: scripts/decrypt_gha_secret.sh scripts/gha-encrypted/qs-abtesting.plist.gpg \
#          quickstart-ios/abtesting/GoogleService-Info.plist "$plist_secret"
#    - name: Test swift quickstart
#      env:
#        LEGACY: true
#      run: ([ -z $plist_secret ] || scripts/third_party/travis/retry.sh scripts/test_quickstart.sh ABTesting true)
#
#  quickstart-ftl-cron-only:
#    # Don't run on private repo.
#    if: github.repository == 'Firebase/firebase-ios-sdk' && github.event_name == 'schedule'
#
#    env:
#      plist_secret: ${{ secrets.GHASecretsGPGPassphrase1 }}
#      signin_secret: ${{ secrets.GHASecretsGPGPassphrase1 }}
#    runs-on: macos-15
#    steps:
#    - uses: actions/checkout@v4
#    - uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252 # v1
#    - uses: actions/setup-python@v5
#      with:
#        python-version: '3.11'
#    - name: Setup quickstart
#      env:
#        LEGACY: true
#      run: scripts/setup_quickstart.sh abtesting
#    - name: Install Secret GoogleService-Info.plist
#      run: scripts/decrypt_gha_secret.sh scripts/gha-encrypted/qs-abtesting.plist.gpg \
#          quickstart-ios/abtesting/GoogleService-Info.plist "$plist_secret"
#    - name: Xcode
#      run: sudo xcode-select -s /Applications/Xcode_16.2.app/Contents/Developer
#    - name: Build swift quickstart
#      env:
#        LEGACY: true
#      run: ([ -z $plist_secret ] || scripts/third_party/travis/retry.sh scripts/test_quickstart_ftl.sh ABTesting)
#    - id: ftl_test
#      uses: FirebaseExtended/github-actions/firebase-test-lab@v1.4
#      with:
#        credentials_json: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_CREDENTIALS }}
#        testapp_dir: quickstart-ios/build-for-testing
#        test_type: "xctest"
#
#  abtesting-cron-only:
#    # Don't run on private repo.
#    if: github.event_name == 'schedule' && github.repository == 'Firebase/firebase-ios-sdk'
#
#    runs-on: macos-15
#    strategy:
#      matrix:
#        target: [ios, tvos, macos]
#        flags: [
#          '--use-static-frameworks'
#        ]
#    needs: pod-lib-lint
#    steps:
#    - uses: actions/checkout@v4
#    - uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252 # v1
#    - name: Setup Bundler
#      run: scripts/setup_bundler.sh
#    - name: Xcode
#      run: sudo xcode-select -s /Applications/Xcode_16.2.app/Contents/Developer
#    - name: PodLibLint ABTesting Cron
#      run: |
#        scripts/third_party/travis/retry.sh scripts/pod_lib_lint.rb \
#          FirebaseABTesting.podspec --platforms=${{ matrix.target }} ${{ matrix.flags }}
