name: client_app

on:
  pull_request:
    paths:
      - ".github/workflows/client_app.yml"
      - "Package.swift"
      - ".swiftpm/*"
      - "*.podspec"
      - "scripts/install_prereqs.sh"
      - "scripts/build.sh"
      - "IntegrationTesting/ClientApp/**"
      - "Gemfile*"
  schedule:
    # Run every day at 12am (PST) - cron uses UTC times
    - cron: "0 8 * * *"

env:
  FIREBASECI_USE_LATEST_GOOGLEAPPMEASUREMENT: 1

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  client-app-spm:
    if: (github.repository == 'Firebase/firebase-ios-sdk' && github.event_name == 'schedule') || github.event_name == 'pull_request'
    runs-on: macos-14
    strategy:
      matrix:
        #TODO(ncooke3): Add multi-platform support: tvOS, macOS, catalyst
        platform: [iOS]
        scheme: [ClientApp-iOS13]
        # TODO(ncooke3): Re-enable after updating Firestore binary.
        #scheme: [ClientApp, ClientApp-iOS13]
    steps:
      - uses: actions/checkout@v4
      - uses: mikehardy/buildcache-action@c87cea0ccd718971d6cc39e672c4f26815b6c126
        with:
          cache_key: ${{ matrix.os }}
      - name: Xcode
        run: sudo xcode-select -s /Applications/Xcode_15.2.app/Contents/Developer
      - name: Build Client App –– ${{ matrix.platform }}
        run: scripts/third_party/travis/retry.sh ./scripts/build.sh ${{ matrix.scheme }} ${{ matrix.platform }} xcodebuild

  client-app-spm-source-firestore:
      if: (github.repository == 'Firebase/firebase-ios-sdk' && github.event_name == 'schedule') || github.event_name == 'pull_request'
      env:
        FIREBASECI_USE_LATEST_GOOGLEAPPMEASUREMENT: 1
        FIREBASE_SOURCE_FIRESTORE: 1
      runs-on: macos-14
      strategy:
        matrix:
          #TODO(ncooke3): Add multi-platform support: tvOS, macOS, catalyst
          platform: [iOS]
          scheme: [ClientApp, ClientApp-iOS13]
      steps:
        - uses: actions/checkout@v4
        - uses: mikehardy/buildcache-action@c87cea0ccd718971d6cc39e672c4f26815b6c126
          with:
            cache_key: ${{ matrix.os }}
        - name: Xcode
          run: sudo xcode-select -s /Applications/Xcode_15.2.app/Contents/Developer
        - name: Build Client App –– ${{ matrix.platform }}
          run: scripts/third_party/travis/retry.sh ./scripts/build.sh ${{ matrix.scheme }} ${{ matrix.platform }} xcodebuild

  client-app-cocoapods:
    # Don't run on private repo unless it is a PR.
    if: (github.repository == 'Firebase/firebase-ios-sdk' && github.event_name == 'schedule') || github.event_name == 'pull_request'
    runs-on: macos-14
    strategy:
      matrix:
        scheme: [ClientApp-CocoaPods, ClientApp-CocoaPods-iOS13]
    steps:
      - uses: actions/checkout@v4
      - uses: mikehardy/buildcache-action@c87cea0ccd718971d6cc39e672c4f26815b6c126
        with:
          cache_key: ${{ matrix.os }}
      - uses: ruby/setup-ruby@v1
      - name: Setup Bundler
        run: scripts/setup_bundler.sh
      - name: Xcode
        run: sudo xcode-select -s /Applications/Xcode_15.2.app/Contents/Developer
      - name: Prereqs
        run: scripts/install_prereqs.sh ClientApp iOS xcodebuild
      - name: Build
        run: scripts/build.sh ${{ matrix.scheme }} iOS xcodebuild
