# TODO(Swift 6): Re-enable these tests.
# name: core

# on:
#   workflow_dispatch:
#   pull_request:
#     paths:
#     - 'FirebaseCore**'
#     - '.github/workflows/core.yml'
#     - 'Gemfile*'
#   schedule:
#     # Run every day at 2am (PST) - cron uses UTC times
#     - cron:  '0 10 * * *'

# concurrency:
#     group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
#     cancel-in-progress: true

# jobs:
#   spm:
#     uses: ./.github/workflows/common.yml
#     with:
#       target: CoreUnit

#   catalyst:
#     uses: ./.github/workflows/common_catalyst.yml
#     with:
#       product: FirebaseCore
#       target: FirebaseCore-Unit-unit

#   pod-lib-lint:
#     # Don't run on private repo unless it is a PR.
#     if: (github.repository == 'Firebase/firebase-ios-sdk' && github.event_name == 'schedule') || github.event_name == 'pull_request'
#     strategy:
#       matrix:
#         # TODO: macos tests are blocked by https://github.com/erikdoe/ocmock/pull/532
#         target: [ios, tvos, macos --skip-tests, watchos]
#         build-env:
#           - os: macos-14
#             xcode: Xcode_16.2
#           - os: macos-15
#             xcode: Xcode_16.2
#           # TODO: Add Xcode matrix when Xcode 16 is ubiquitous on CI runners.
# #          - os: macos-15
# #            xcode: Xcode_16.3
#     runs-on: ${{ matrix.build-env.os }}
#     steps:
#     - uses: actions/checkout@v4
#     - uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252 # v1
#     - name: Setup Bundler
#       run: scripts/setup_bundler.sh
#     - name: Xcode
#       run: sudo xcode-select -s /Applications/${{ matrix.build-env.xcode }}.app/Contents/Developer
#     - name: Build and test
#       run: scripts/third_party/travis/retry.sh scripts/pod_lib_lint.rb FirebaseCore.podspec --platforms=${{ matrix.target }}

#   spm-package-resolved:
#     env:
#       FIREBASECI_USE_LATEST_GOOGLEAPPMEASUREMENT: 1
#     runs-on: macos-15
#     outputs:
#       cache_key: ${{ steps.generate_cache_key.outputs.cache_key }}
#     steps:
#       - uses: actions/checkout@v4
#       - name: Xcode
#         run: sudo xcode-select -s /Applications/Xcode_16.2.app/Contents/Developer
#       - name: Generate Swift Package.resolved
#         id: swift_package_resolve
#         run: |
#           swift package resolve
#       - name: Generate cache key
#         id: generate_cache_key
#         run: |
#           cache_key="${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}"
#           echo "cache_key=${cache_key}" >> "$GITHUB_OUTPUT"
#       - uses: actions/cache/save@v4
#         id: cache
#         with:
#           path: .build
#           key: ${{ steps.generate_cache_key.outputs.cache_key }}

#   core-cron-only:
#     # Don't run on private repo.
#     if: github.event_name == 'schedule' && github.repository == 'Firebase/firebase-ios-sdk'

#     runs-on: macos-14
#     strategy:
#       matrix:
#         target: [ios, tvos, macos]
#         flags: [
#           '--use-static-frameworks'
#         ]
#     needs: pod-lib-lint
#     steps:
#     - uses: actions/checkout@v4
#     - uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252 # v1
#     - name: Xcode
#       run: sudo xcode-select -s /Applications/Xcode_16.2.app/Contents/Developer
#     - name: Setup Bundler
#       run: scripts/setup_bundler.sh
#     - name: PodLibLint Core Cron
#       run: scripts/third_party/travis/retry.sh scripts/pod_lib_lint.rb FirebaseCore.podspec --platforms=${{ matrix.target }} ${{ matrix.flags }}
