name: functions

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    paths:
    - 'FirebaseFunctions**'
    - 'FirebaseSharedSwift**'
    - '.github/workflows/functions.yml'
    - '.github/workflows/common.yml'
    - '.github/workflows/common_cocoapods.yml'
    - '.github/workflows/common_cocoapods_cron.yml'
    - 'FirebaseAuth/Interop/*.h'
    - 'FirebaseMessaging/Interop/*.h'
    - 'FirebaseTestingSupport/Functions/**'
    - 'FirebaseCombineSwift/Sources/Functions/**'
    - 'scripts/setup_quickstart.sh'
    - 'Gemfile*'

  schedule:
    # Run every day at 2am (PDT) / 5am (EDT) - cron uses UTC times
    - cron:  '0 9 * * *'

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
    cancel-in-progress: true

jobs:
  pod_lib_lint:
    uses: ./.github/workflows/common_cocoapods.yml
    with:
      product: FirebaseFunctions
      supports_swift6: true
      setup_command: FirebaseFunctions/Backend/start.sh synchronous

  spm-integration:
    uses: ./.github/workflows/common.yml
    strategy:
      matrix:
        target: [FirebaseFunctionsIntegration, FirebaseFunctionsObjCIntegration, FunctionsCombineUnit]
    with:
      target: ${{ matrix.target }}
      platforms: iOS
      setup_command: FirebaseFunctions/Backend/start.sh synchronous

  spm-unit:
    uses: ./.github/workflows/common.yml
    with:
      target: FirebaseFunctionsUnit

  # TODO(ncooke3): Add a Functions quickstart test.

  functions-cron-only:
    needs: pod_lib_lint
    uses: ./.github/workflows/common_cocoapods_cron.yml
    with:
      product: FirebaseFunctions
      platforms: '[ "ios", "tvos", "macos" ]'
      flags: '[ "--use-static-frameworks" ]'
      setup_command: FirebaseFunctions/Backend/start.sh synchronous
      runs_on: macos-14
      xcode: Xcode_16.2
