name: inappmessaging

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    paths:
    - 'FirebaseInAppMessaging**'
    - 'Interop/Analytics/Public/*.h'
    - '.github/workflows/inappmessaging.yml'
    - '.github/workflows/common.yml'
    - '.github/workflows/common_cocoapods.yml'
    - '.github/workflows/common_quickstart.yml'
    - '.github/workflows/common_cocoapods_cron.yml'
    - 'Gemfile*'
  schedule:
    # Run every day at 11pm (PDT) / 2am (EDT) - cron uses UTC times
    - cron:  '0 6 * * *'

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
    cancel-in-progress: true

jobs:
  spm:
    uses: ./.github/workflows/common.yml
    with:
      target: FirebaseInAppMessaging-Beta
      platforms: iOS
      buildonly_platforms: iOS

  pod_lib_lint:
    uses: ./.github/workflows/common_cocoapods.yml
    with:
      product: FirebaseInAppMessaging
      platforms: iOS, tvOS

  tests:
    # Don't run on private repo unless it is a PR.
    if: (github.repository == 'Firebase/firebase-ios-sdk' && github.event_name == 'schedule') || github.event_name == 'pull_request'

# TODO(#12770): Update to macos-14 when tests are updated for Xcode 15.
    runs-on: macos-15
    strategy:
      matrix:
# TODO(#8682): Reenable iPad after fixing Xcode 13 test failures.
#        platform: [iOS, iPad]
        platform: [iOS]
        xcode: [Xcode_16.4]
    steps:
    - uses: actions/checkout@v4
    - uses: mikehardy/buildcache-action@c87cea0ccd718971d6cc39e672c4f26815b6c126
      with:
        cache_key: ${{ matrix.platform }}
    - uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252 # v1
    - name: Setup Bundler
      run: scripts/setup_bundler.sh
    - name: Xcode
      run: sudo xcode-select -s /Applications/${{ matrix.xcode }}.app/Contents/Developer
    - name: Prereqs
      run: scripts/install_prereqs.sh InAppMessaging ${{ matrix.platform }} xcodebuild
    - name: Build and test
      run: scripts/third_party/travis/retry.sh scripts/build.sh InAppMessaging ${{ matrix.platform }} xcodebuild

  fiam-cron-only:
    needs: pod_lib_lint
    uses: ./.github/workflows/common_cocoapods_cron.yml
    with:
      product: FirebaseInAppMessaging
      platforms: '[ "ios", "tvos" ]'
      flags: '[ "--use-static-frameworks" ]'

  quickstart:
    uses: ./.github/workflows/common_quickstart.yml
    with:
      product: InAppMessaging
      setup_command: scripts/setup_quickstart_spm.sh inappmessaging
      plist_src_path: scripts/gha-encrypted/qs-inappmessaging.plist.gpg
      plist_dst_path: quickstart-ios/inappmessaging/GoogleService-Info.plist
      run_tests: false
    secrets:
      plist_secret: ${{ secrets.GHASecretsGPGPassphrase1 }}
