name: release

permissions:
  contents: read

on:
  pull_request:
    paths:
    - '.github/workflows/release.yml'
    - 'Gemfile*'
  workflow_dispatch:
  schedule:
    # Run every day at 10pm (PDT) / 1am (EDT) - cron uses UTC times
    - cron:  '0 5 * * *'

env:
  FIREBASE_CI: true
  FIREBASECI_USE_LATEST_GOOGLEAPPMEASUREMENT: true

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
    cancel-in-progress: true

jobs:
  # TODO: The functions quickstart uses Material which isn't supported by Xcode 15
  # functions_quickstart:
  #   # Don't run on private repo unless it is a PR.
  #   if: (github.repository == 'Firebase/firebase-ios-sdk' && github.event_name == 'schedule') || github.event_name == 'pull_request' || github.event_name == 'workflow_dispatch'
  #   needs: buildup_SpecsReleasing_repo
  #   env:
  #     plist_secret: ${{ secrets.GHASecretsGPGPassphrase1 }}
  #     botaccess: ${{ secrets.RELEASE_TESTING_PAT }}
  #   runs-on: macos-12
  #   steps:
  #   - uses: actions/checkout@v4
  #   - uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252 # v1
  #   - name: Setup testing repo and quickstart
  #     run: BOT_TOKEN="${botaccess}" scripts/setup_quickstart.sh functions nightly_release_testing
  #   - name: install secret googleservice-info.plist
  #     run: scripts/decrypt_gha_secret.sh scripts/gha-encrypted/qs-functions.plist.gpg \
  #         quickstart-ios/functions/GoogleService-Info.plist "$plist_secret"
  #   - name: Setup custom URL scheme
  #     run: sed -i '' 's/REVERSED_CLIENT_ID/com.googleusercontent.apps.1025801074639-6p6ebi8amuklcjrto20gvpe295smm8u6/' quickstart-ios/functions/LegacyFunctionsQuickstart/FunctionsExample/Info.plist
  #   - name: Test objc quickstart
  #     run: ([ -z $plist_secret ] ||
  #           scripts/third_party/travis/retry.sh scripts/test_quickstart.sh Functions true)
  #   - name: Test swift quickstart
  #     run: ([ -z $plist_secret ] ||
  #           scripts/third_party/travis/retry.sh scripts/test_quickstart.sh Functions true swift)
  #   - name: Remove data before upload
  #     if: ${{ failure() }}
  #     run: scripts/remove_data.sh functions
  #   - uses: actions/upload-artifact@v4
  #     if: ${{ failure() }}
  #     with:
  #       name: quickstart_artifacts_functions
  #       path: quickstart-ios/

  quickstart:
    if: |
      github.repository == 'firebase/firebase-ios-sdk' &&
      contains(fromJSON('["schedule", "pull_request", "workflow_dispatch"]'), github.event_name)
    strategy:
      fail-fast: false
      matrix:
        include:
          - product: Performance
            run_tests: true
          - product: Storage
            run_tests: false
          - product: Config
            run_tests: true
          - product: Messaging
            run_tests: false
          - product: InAppMessaging
            run_tests: false
          - product: Firestore
            run_tests: false
          - product: Database
            run_tests: false
          - product: Authentication
            run_tests: false
          - product: Crashlytics
            run_tests: true
          - product: ABTesting
            run_tests: false
    name: 'quickstart (release, ${{ matrix.product }}, run_tests: ${{ matrix.run_tests }})'
    env:
      plist_secret: ${{ secrets.GHASecretsGPGPassphrase1 }}
      botaccess: ${{ secrets.RELEASE_TESTING_PAT }}
    runs-on: macos-15
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Required for pulling down repo tags.
    - name: Set Xcode version
      run: sudo xcode-select -s /Applications/Xcode_16.4.app
    - uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252 # v1
    - name: Prereqs
      run: gem install xcpretty
    - name: Setup testing repo and quickstart
      run: scripts/setup_quickstart_spm.sh ${{ matrix.product }} nightly_release_testing
    - name: Install Secret GoogleService-Info.plist
      run: |
        scripts/decrypt_gha_secret.sh scripts/gha-encrypted/qs-${{ matrix.product }}.plist.gpg \
          quickstart-ios/${{ matrix.product }}/GoogleService-Info.plist "$plist_secret"
    - name: Build Quickstart
      uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3
      with:
        timeout_minutes: 15
        max_attempts: 3
        retry_wait_seconds: 120
        command: DIR=${{ matrix.product }} scripts/test_quickstart.sh ${{ matrix.product }} ${{ matrix.run_tests }}
    - name: Remove data before upload
      if: failure()
      run: scripts/remove_data.sh ${{ matrix.product }}
    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: quickstart_artifacts_${{ matrix.product }}
        path: |
          quickstart-ios/
          !quickstart-ios/**/GoogleService-Info.plist
