name: remoteconfig

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    paths:
    - 'FirebaseRemoteConfig**'
    - 'Interop/Analytics/Public/*.h'
    - '.github/workflows/remoteconfig.yml'
    - '.github/workflows/common.yml'
    - '.github/workflows/common_cocoapods.yml'
    - '.github/workflows/common_catalyst.yml'
    - '.github/workflows/common_quickstart.yml'
    - '.github/workflows/common_cocoapods_cron.yml'
    - 'Gemfile*'
    - 'scripts/generate_access_token.sh'
    - 'scripts/gha-encrypted/RemoteConfigSwiftAPI/**'
  schedule:
    # Run every day at 1am (PDT) / 4am (EDT) - cron uses UTC times
    - cron:  '0 8 * * *'

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
    cancel-in-progress: true

jobs:
  spm_1:
    uses: ./.github/workflows/common.yml
    with:
      target: RemoteConfigUnit

  spm_2:
    uses: ./.github/workflows/common.yml
    with:
      target: RemoteConfigFakeConsole
      buildonly_platforms: watchOS

  catalyst:
    uses: ./.github/workflows/common_catalyst.yml
    with:
      product: FirebaseRemoteConfig
      target: FirebaseRemoteConfig-Unit-unit

  remoteconfig:
    # Don't run on private repo unless it is a PR.
    if: (github.repository == 'Firebase/firebase-ios-sdk' && github.event_name == 'schedule') || github.event_name == 'pull_request'
    env:
      plist_secret: ${{ secrets.GHASecretsGPGPassphrase1 }}
      USE_REAL_CONSOLE: true
    runs-on: macos-15
    strategy:
      matrix:
        target: [iOS]
    steps:
    - uses: actions/checkout@v4
    - uses: mikehardy/buildcache-action@c87cea0ccd718971d6cc39e672c4f26815b6c126
      with:
        cache_key: rc${{ matrix.target }}
    - uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252 # v1
    - name: Setup Bundler
      run: scripts/setup_bundler.sh
    - name: Install xcpretty
      run: gem install xcpretty
    - name: Install Secret GoogleService-Info.plist
      run: scripts/decrypt_gha_secret.sh scripts/gha-encrypted/RemoteConfigSwiftAPI/GoogleService-Info.plist.gpg \
          FirebaseRemoteConfig/Tests/Swift/SwiftAPI/GoogleService-Info.plist "$plist_secret"
    - name: Generate Access Token for RemoteConfigConsoleAPI in IntegrationTests
      if: matrix.target == 'iOS'
      run: ([ -z $plist_secret ] || scripts/generate_access_token.sh "$plist_secret" scripts/gha-encrypted/RemoteConfigSwiftAPI/ServiceAccount.json.gpg
          FirebaseRemoteConfig/Tests/Swift/AccessToken.json)
    - name: Xcode
      run: sudo xcode-select -s /Applications/Xcode_16.4.app/Contents/Developer
    - name: Fake Console API Tests
      uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3
      with:
        timeout_minutes: 15
        max_attempts: 3
        retry_wait_seconds: 120
        command: scripts/build.sh RemoteConfig ${{ matrix.target }} fakeconsole
    - name: IntegrationTest
      if: matrix.target == 'iOS'
      # No retry to avoid exhausting AccessToken quota.
      run: ([ -z $plist_secret ] || scripts/build.sh RemoteConfig iOS integration)

  pod_lib_lint:
    uses: ./.github/workflows/common_cocoapods.yml
    with:
      product: FirebaseRemoteConfig

  quickstart:
    uses: ./.github/workflows/common_quickstart.yml
    with:
      product: Config
      setup_command: scripts/setup_quickstart_spm.sh config
      plist_src_path: scripts/gha-encrypted/qs-config.plist.gpg
      plist_dst_path: quickstart-ios/config/GoogleService-Info.plist
    secrets:
      plist_secret: ${{ secrets.GHASecretsGPGPassphrase1 }}

  # TODO(@sunmou99): currently have issue with this job, will re-enable it once the issue resolved.
  # quickstart-ftl-cron-only:
  #   # Don't run on private repo.
  #   if: (github.repository == 'Firebase/firebase-ios-sdk' && github.event_name == 'schedule') || github.event_name == 'pull_request'
  #   env:
  #     plist_secret: ${{ secrets.GHASecretsGPGPassphrase1 }}
  #   runs-on: macos-14
  #   steps:
  #   - uses: actions/checkout@v4
  #   - uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252 # v1
  #   - uses: actions/setup-python@v5
  #     with:
  #      python-version: '3.11'
  #   - name: Setup quickstart
  #     run: scripts/setup_quickstart.sh config
  #   - name: Install Secret GoogleService-Info.plist
  #     run: scripts/decrypt_gha_secret.sh scripts/gha-encrypted/qs-config.plist.gpg \
  #         quickstart-ios/config/GoogleService-Info.plist "$plist_secret"
  #   - name: Build Swift Quickstart
  #     run: ([ -z $plist_secret ] || scripts/third_party/travis/retry.sh scripts/test_quickstart_ftl.sh Config)
  #   - id: ftl_test
  #     uses: FirebaseExtended/github-actions/firebase-test-lab@v1.4
  #     with:
  #       credentials_json: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_CREDENTIALS }}
  #       testapp_dir: quickstart-ios/build-for-testing
  #       test_type: "xctest"

  sample-build-test:
    # Don't run on private repo unless it is a PR.
    if: (github.repository == 'Firebase/firebase-ios-sdk' && github.event_name == 'schedule') || github.event_name == 'pull_request'
    runs-on: macos-15
    steps:
    - uses: actions/checkout@v4
    - uses: mikehardy/buildcache-action@c87cea0ccd718971d6cc39e672c4f26815b6c126
      with:
        cache_key: build-test
    - uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252 # v1
    - name: Setup Bundler
      run: scripts/setup_bundler.sh
    - name: Xcode
      run: sudo xcode-select -s /Applications/Xcode_16.4.app/Contents/Developer
    - name: Prereqs
      run: scripts/install_prereqs.sh RemoteConfigSample iOS
    - name: Build
      run: scripts/build.sh RemoteConfigSample iOS

  remoteconfig-cron-only:
    needs: pod_lib_lint
    uses: ./.github/workflows/common_cocoapods_cron.yml
    with:
      product: FirebaseRemoteConfig
      platforms: '[ "ios", "tvos", "macos" ]'
      flags: '[ "--skip-tests --use-static-frameworks" ]'
