# Merge the yml file to main branch for the cron job schedule to be effective.
# Reference: https://github.community/t/on-schedule-per-branch/17525
name: sdk.sessions.integration

on:
  workflow_dispatch:
  pull_request:
    paths:
    # This configuration file.
    - '.github/workflows/sdk.sessions.integration.yml'
    - 'FirebaseSessions/Tests/TestApp'
  # See cron syntax references:
  #   - https://docs.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events-schedule
  #   - https://crontab.guru/
  schedule:
    # Runs every 4 hours.
    - cron:  '0 */4 * * *'

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
    cancel-in-progress: true

jobs:

  # Public repository: Build and run the Integration Tests for the Firebase sessions E2E Test App across all environments.
  sessions-integration-tests:
    uses: ./.github/workflows/_build.yml
    with:
      product: Sessions
      platform: all
      method: integration
      setup_command: |
        gem install xcpretty
        scripts/decrypt_gha_secret.sh scripts/gha-encrypted/Sessions/GoogleService-Info_TestApp.plist.gpg \
            FirebaseSessions/Tests/TestApp/Shared/GoogleService-Info.plist "$plist_secret"
    secrets:
      plist_secret: ${{ secrets.GHASecretsGPGPassphrase1 }}

