name: sdk.firebasepod

# Verify that the Firebase.podspec will successfully `pod install`.

on:
  workflow_dispatch:
  pull_request:
    paths:
    - '*.podspec'
    - 'CoreOnly/**'
    - '.github/workflows/sdk.firebasepod.yml'
    - 'Gemfile*'
  schedule:
    # Run every day at 2am (PDT) / 5am (EDT) - cron uses UTC times
    - cron:  '0 9 * * *'

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
    cancel-in-progress: true

jobs:
  installation-test:
    # Don't run on private repo.
    if: github.repository == 'Firebase/firebase-ios-sdk'
    uses: ./.github/workflows/_build.yml
    with:
      product: FirebasePod
      platform: iOS
      method: xcodebuild
      setup_command: scripts/install_prereqs.sh FirebasePod iOS
