name: spectesting

on:
  pull_request

jobs:
  specs_checking:
    # Don't run on private repo unless it is a PR.
    if: github.repository == 'Firebase/firebase-ios-sdk'
    runs-on: macos-11
    outputs:
      matrix: ${{ steps.check_files.outputs.matrix }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: check files
      id: check_files
      env:
        pr_branch: ${{ github.event.pull_request.head.ref }}
      run: |
        # The output.json will have podspecs that will be tested.
        # ``` output.json
        # [{"podspec":"FirebaseABTesting.podspec"},{"podspec":"FirebaseAnalytics.podspec.json"}]
        # ```
        # This array will help generate a matrix for jobs in GHA, taking
        # advantage of `include`.
        # https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#example-including-additional-values-into-combinations
        # The final matrix will be set as an env var in the GHA workflow,
        # This env var, matrx, will be passed as a matrix in the next job of
        # the workflow. 
        ./scripts/health_metrics/get_updated_files.sh -p output.json
        echo "::set-output name=matrix::{\"include\":$( cat output.json )}"
    - name: Upload output.json
      uses: actions/upload-artifact@v2
      with:
        name: output
        path: output.json
  specs_testing:
    needs: specs_checking
    runs-on: macos-11
    strategy:
      matrix: ${{fromJson(needs.specs_checking.outputs.matrix)}}
    env:
      PODSPEC: ${{ matrix.podspec }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Init podspecs and source
      run: |
        mkdir specTestingLogs
        cd ReleaseTooling
        swift run podspecs-tester --git-root "${GITHUB_WORKSPACE}" --podspec ${PODSPEC} --temp-log-dir "${GITHUB_WORKSPACE}/specTestingLogs" 
    - name: Upload Failed Testing Logs
      if: failure()
      uses: actions/upload-artifact@v2
      with:
        name: specTestingLogs
        path: specTestingLogs/*.txt
